[2015-04-20 01:31] qbanguy commented on #523
My bad guys, my local mongo instance wasn't running. I went over the
creation/update of an article/page and works perfectly.

P.S. I'm using iojs 1.3

On Sun, Apr 19, 2015 at 5:14 PM, Victor Kane <notifications@github.com>
wrote:

--
ciao
Adrian

[2015-04-20 04:49] JahlomP commented on #523
I did not do npm update myself. Sorry.

On Monday, April 20, 2015, Adrian Sanchez del C. <notifications@github.com>
wrote:

https://github.com/pencilblue/pencilblue/issues/523#issuecomment-94327456>

https://ci3.googleusercontent.com/proxy/jkchTW8XUmENuBV274_tpWvgdMknjfVK9sBBy1uP8K_vv6bJU1aODa3kBEHv5JpwJ3vCm-zaJecuVhyBKiioAoc0TCrbTarB1mb2N9IMXc_kUNZTYucfsKwJuMw5e6GiiBYg6ZsWXjMbKXs-TmfQBcvvGuyyiQ=s

[2015-04-20 09:17] nzfarmer1 commented on #220
Is there a way I can test this?  My "Send(TestEmail)" button (after setting up Custom SMTP) does nothing at all - nothing in client or server. Have tried setting debug mode and watching browser console. thx.

[2015-04-20 12:00] brianhyder commented on #220
Yes, you can test it out.  The best way would be to use Chrome and the
developer tools to step through the click action for the send button.  The
client side angular javascript that should be executing can be found here:
https://github.com/pencilblue/pencilblue/blob/aa77308bc86233c895747f9a95ca03f5ac3a1760/plugins/pencilblue/templates/angular/admin/site_settings/email.html
 I would use chrome to s

[2015-04-21 02:19] #564 closed

[2015-04-21 15:55] blakecallens commented on #163
This was fixed a while ago.

[2015-04-21 15:55] #163 closed

[2015-04-23 20:31] bitterulf opened #566 "ignoring node_modules does not work for me"
node_modules is not ignored with the current .gitignore settings.

Do we really need to use double stars?
I quick search lead me to things like:
 " don't use / with **  "

I am using windows by the way.

[2015-04-24 20:22] markbaird commented on #566
It works fine for me, on Windows. If you clone the project fresh, run "npm install", and then run "git status" is it saying you have untracked or uncommitted files?

I just tried that and it says "nothing to commit".

[2015-04-25 20:09] blakecallens commented on #509
It would be better if we changed this to each user having an individual setting.

[2015-04-25 21:21] #558 closed

[2015-04-25 21:24] #462 closed

[2015-04-25 21:28] #559 closed

[2015-04-25 21:29] brianhyder commented on #566
@bitterulf Are you still having issues?

[2015-04-25 21:30] brianhyder commented on #523
Looks like this is now a non-issue since the DAO change and dependency update.  I'm closing but if anyone encounters issues again let me know.

[2015-04-25 21:30] #523 closed

[2015-04-26 09:04] bitterulf commented on #566
@brianhyder i did a clean clone from the repo with the same result
but after updating git to 1.9.5 everything works as expected.
Funny that after working with so much other node modules pencilblue was the first one i encounter wich uses double star syntax.

[2015-04-26 09:04] #566 closed

[2015-04-26 14:54] brianhyder commented on #566
I know at some point I was having issues with nested node_modules
directories showing up. I kept fiddling with it until I got the result I
was looking for. The setup could probably be optimized.
On Apr 26, 2015 5:04 AM, "bitterulf" <notifications@github.com> wrote:

[2015-04-26 23:12] tratnayake opened #573 "Theme Settings do not persist."
Hello all!

First time issue poster so please forgive me if I have not followed a particular format.

Scenario
I am building a theme for a pencilblue website, and I want to have "global theme variables" such as facebook page URL's and twitter profile URL's get loaded with every request so that they can be used as the link for social media icons etc.

Basically, user enters facebook_url in the THEM

[2015-04-27 14:58] cchatham commented on #501
This sounds fabulous! I am assuming it will follow the standards below:

#1 - http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
#2 - http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2

Combined to /#1-#2/

Thanks so much!

[2015-04-28 00:24] #573 closed

[2015-04-28 00:25] brianhyder commented on #573
Good catch and thank you for reporting!

[2015-04-28 19:36] JahlomP opened #576 "Prevent writers to publish articles"
I think publishing of articles should only be given to editors. Users with writers permission should not be given the permission to publish. This follows the way many publishing site works.

If such feature does not already exist, I think it should be considered.

[2015-04-28 20:44] markbaird commented on #68
I implemented this in my custom theme, pretty much exactly like your description, before I noticed this in the issues list. If you want to assign this issue to me I can work on moving that functionality over to the core code and creating a pull request.

I'm using the URL parameter 'page', so it looks like www.sitename.com/?page=#
If no page parameter is passed, then page 0 is assumed.

An extra a

[2015-04-29 23:55] brianhyder commented on #68
Hey,

wanted to get back to you on this.  I'm more than happy to let you run with
it.  I would like to wait until I get the design done for the base object
service we are working on.  Once I get that and a rough implementation in
place I'll be comfortable handing that off.  I just don't want you to start
on something and then the contract change underneath you.  Should have
something in place by e

[2015-04-30 03:23] kcdodd opened #578 "Comments can't be allowed/disallowed per article"
The "allow comments" option per article doesn't seem to do anything. Only the global "allow comments" option seems to actually restrict comments.

[2015-04-30 04:10] kcdodd opened #579 "Create an account localization"
When I start typing in the username field, the 'check' box seems to switch from english to romanian.

[2015-04-30 14:03] kcdodd commented on #579
Well, looking at the page source ro-ro.js seems to be loaded on *every page*. When page first loads it puts the correct english 'Check', but I guess sign_up.js then goes off of the ro-ro.js that was loaded into the page as I type in the box.

[2015-04-30 14:06] markbaird commented on #579
I'm having similar problems with my entire site defaulting to Romanian. I don't think global.localizationLanguage is being set correctly.

[2015-04-30 15:27] kcdodd opened #580 "Migrate user account management to new AngularJS schema"
I cannot upload a "User photo" from the personal account manager, but I *can* do it from the admin panel. When I upload a user photo from admin panel it appears where it should. But, if I do anything with the personal account (ie hit the save button), then the user photo is wiped out. Just to reiterate, as it is a user photo has to be re-uploaded from the admin panel anytime I change anything from

[2015-04-30 19:41] brianhyder commented on #578
What theme is active for your site?

On Wed, Apr 29, 2015 at 11:23 PM, kcdodd <notifications@github.com> wrote:

--
Brian P. Hyder

[2015-04-30 19:55] kcdodd commented on #578
I tested it on default theme.

And, actually, I figured out it does work. It's just yes means no, and no means yes. If I select 'yes' for allow comments on the article editor, it actually disables them.

[2015-04-30 21:11] brianhyder commented on #578
Thank you for the clarification. We'll see if we can't knock that out for
you soon.
On Apr 30, 2015 3:55 PM, "kcdodd" <notifications@github.com> wrote:

[2015-05-01 15:17] kobenauf commented on #529
I don't know if this will help you, but I was getting:
node_modules\mongodb\lib\utils.js:97
    process.nextTick(function() { throw err; });

in my own code (totally unrelated to your code other than we use the same mongodb library), and came across this while googling it.  I found the bug in my own code and thought I'd share it with you in case it is similar for you.

In my code I had:
.then (fun

[2015-05-03 17:01] blakecallens commented on #580
Thanks for the catch. I need to go through the user screens and update them to be inline with the way the admin section now looks and works.

[2015-05-03 17:09] blakecallens commented on #579
The localization service creates a client side localization object for real time use. It looks like this is always outputting as Romanian. Looking into it.

[2015-05-03 17:18] #578 closed

[2015-05-03 18:25] JahlomP opened #582 "Disable/Enable Image Caption"
I suggest we have an option to enable or disable caption when adding to an article or make it a global setting. Which ever is appropriate.

[2015-05-03 18:30] JahlomP opened #583 "Sample controller demonstration google like search"
Can someone show me a sample controller to demonstration a google-like search without the template?

[2015-05-03 21:07] brianhyder commented on #583
I don't think I fully understand the question.  Are you trying to create a controller for doing site search or are you trying to setup google site search?

Is it an API call that returns JSON or are you trying to display search results in HTML format?

[2015-05-03 23:47] JahlomP commented on #583
I am trying to create a controller for doing site search
I am trying to display search results in HTML format

On Sun, May 3, 2015 at 10:07 PM Brian <notifications@github.com> wrote:

[2015-05-04 00:25] brianhyder commented on #583
Site search isn't something we have attempted to do yet simply because of
its complexities.  You could possibly leverage some of the code for the
site_map.js controller and check all of the items for the given search
criteria.  I don't think it will be performant but it might get you what
you need.

On Sun, May 3, 2015 at 7:47 PM, Precious Jahlom Agboado <
notifications@github.com> wrote:

--
Bria

[2015-05-04 00:32] brianhyder commented on #583
It also appears that as of 2.6 full text search has been made production
ready.  You could add an index to each field of each collection you want to
search (see include/config.js) and then run parallel queries to search for
results (sitemap.js).

On Sun, May 3, 2015 at 8:25 PM, Brian Hyder <brianhyder@gmail.com> wrote:

--
Brian P. Hyder

[2015-05-04 00:45] JahlomP commented on #583
ok

On Mon, May 4, 2015 at 1:32 AM Brian <notifications@github.com> wrote:

[2015-05-04 13:37] #583 closed

[2015-05-04 14:28] kcdodd commented on #578
I'm not sure if you're looking into the portfolio theme, but now that I see how you fixed the pencil blue theme, I looked at the same code in the portfolio theme and the particular logic seems to be missing, maybe why its not working for portfoli theme?

pencilblue theme: index.js:283
if (isPage || !contentSettings.allow_comments || !content.allow_comments)

portfolio theme: blog.js:311
 if (conte

[2015-05-04 14:33] blakecallens commented on #578
ah, good catch. would you submitting your portfolio theme change as a pull request?

[2015-05-04 14:39] t0t opened #585 "Language in admin is in German?"
Hi, I'm in spain and my browser (Chrome) is set to spanish but after installing pencilblue for first time it is all in german¿? How can I fix this?
thanks.

[2015-05-05 13:02] orangedrink opened #589 "A question about using custom objects"
Maybe a stupid question but I'm not able to find any documentation or examples on this.

I'm trying to use pencilBlue to create some custom objects and display them with an angular template. So far I have a plugin that creates the types and adds an admin page for the "event" custom objects.

My question is how do I now add the custom object to the navigation of the site. I could build a controller

[2015-05-05 13:14] blakecallens commented on #589
There would be two ways of accomplishing this:

1. Override the [TopMenuService's](https://github.com/pencilblue/pencilblue/blob/master/include/theme/top_menu.js) getTopMenu function, by creating your own service that extends the TopMenuService.
2. Append your events to the navigation on retrieval of the top menu object.

Obviously, the first one is more repeatable, so it's generally recommended.

[2015-05-05 13:33] orangedrink commented on #589
Ok, I'll give that a try. Thanks Blake.

[2015-05-05 13:33] #589 closed

[2015-05-05 21:24] brianhyder commented on #585
The language setting comes from the ```Accept-Language``` header that your browser sends to the server.  When no language is present it *should* fall back to the default language specified in the config.js file or ```en_US``` as a last resort.

[2015-05-07 11:52] t0t commented on #585
It works now!

[2015-05-07 11:52] #585 closed

[2015-05-07 12:06] t0t opened #591 "PRODUCTION = yes! . DEV = nope ;("
I'm testing Pencilblue on Cloud server and all is running well on the server
Howto: http://connorhindley.com/2014/11/25/pencilblue-on-openshift/
My testing page: http://openshiftapp-t0thost.rhcloud.com/

The problem is that I can't look that page on a local environment.
My browser doesn't listen to that port, I tried to activate other ports without success. Can you recommend a beginners guide/url

[2015-05-07 12:34] t0t opened #592 "Errors on Installing Dropbox-Pencilblue plugin"
Hello!,

after installing on the cloud http://connorhindley.com/2014/11/25/pencilblue-on-openshift/
I get this error:
![captura de pantalla 2015-05-07 a las 14 44 03](https://cloud.githubusercontent.com/assets/6004806/7515264/d8a1242a-f4c5-11e4-9532-824f36a54578.png)

Do you know what the cause can be?
thanks.

[2015-05-07 12:39] JahlomP commented on #592
which version of dropbox plugin are you using?

[2015-05-07 13:23] t0t commented on #592
"version": "0.2.0",

I cloned from here: https://github.com/pencilblue/dropbox-pencilblue

[2015-05-07 13:29] t0t commented on #592
this is my config.js

config = {};

var env = process.env;
if (env.NODE_ENV === "production") {
   var useMemory = {
      "use_memory": true,
      "use_cache": false
   };
   var useMemoryAndCache = {
      "use_memory": true,
      "use_cache": true
   };
   // OpenShift config settings
   config = {
      "siteName": "PencilBlue en OpenShift",
      "siteRoot": "http://" + env.OPENSHIFT_GEAR_D

[2015-05-07 14:12] markbaird commented on #591
Can you post the log output you get when you start PencilBlue on your local environment? You should see something like the following in the logs:
[code]

You probably have an error message in the logs that will give us a clue as to what the problem is. Do you have MongoDB installed and running before you try starting PencilBlue?

[2015-05-07 14:40] t0t commented on #591
hi,

I don't see any log file or folder. Where is stored?

On the terminal:
`t0t-2:openshiftapp o0$ ls`
`LICENSE			controllers		package.json		test`
`README.md		include			pencilblue.js		yuidoc.json`
`bower.json		lib			plugins`
`config.codekit		min			public`
`config.js		nodemon.json		sample.config.js`
`t0t-2:openshiftapp o0$ nodemon pencilblue`
`-bash: nodemon: command not found`
`t0t-2:openshiftapp

[2015-05-07 14:55] markbaird commented on #591
That console output is from your OpenShift server. That has nothing to do with running it locally. You will have to install NodeJS and start the PencilBlue server locally. View the instructions here: https://github.com/pencilblue/pencilblue/wiki/Quickstart:-Installation

[2015-05-07 15:09] tangledpixel opened #593 "Fetch Depth no longer functioning"
Update : The issue was between the keyboard and the chair. This is a non-issue.

To recreate this error :

1. create a custom object with a child custom object
2. cos.loadTypeByName('parent', function(err, custObjType) {
  cos.findByType(custObjType, { fetch_depth: 2 }, function(err, custObjArray) {
    console.log(custObjArray);
  });
});

Result: This returns the parent object but the child obje

[2015-05-07 15:11] t0t commented on #591
:sparkles:
Yeah!!!
After reinstall node it works!!
Thank you Mark!
:sparkles:

[2015-05-07 15:11] #591 closed

[2015-05-07 20:32] JahlomP commented on #592
delete the old plugin and clone a fresh one then push it to server and see if the error still occurs.

[2015-05-07 21:04] markbaird commented on #592
I think it has to do with the way apps are deployed on OpenShift. You have to package the whole thing up in a git repo and push it to OpenShift. It is probably just pushing an empty dropbox plugin directory right now because it sees the plugin as a separate Git project.. You need to add the plugin as a submodule instead of simply cloning it. The command is something like this:
[code]
I'm not at a

[2015-05-07 22:26] t0t commented on #592
Hey Mark,

thank you for helping. I'm not sure at all what are you meaning.
Do I need to commit it before push?
Do I need to .gitignore that "package"?
Once the "submodule" is on the server, how I "unzip" "unpackage" it?

`t0t-2:plugins o0$ git submodule add https://github.com/pencilblue/dropbox-pencilblue.git ./plugins/dropbox-pencilblue`
`The following path is ignored by one of your .gitignore f

[2015-05-07 22:36] blakecallens commented on #592
When you're doing a git push to a cloud system like OpenShift, you have to remove the standard .gitignore, because otherwise your added plugins won't make it up with the push. Only the out of the box plugins are allowed in the .gitignore file, so others don't accidentally wind up getting pushed into the PencilBlue core code.

[2015-05-08 00:18] markbaird commented on #592
I just tested that command and was able to install the Dropbox plugin on my OpenShift site. So, open a command prompt in the project root (locally) and run the following command:
[code]
If you get an error, delete the dropbox-pencilblue folder from your project, and then try again. After the command succeeds you should have a file named `.gitmodules` in your project's root folder with the followin

[2015-05-08 12:12] t0t commented on #592
Hi, the install process on OpenShift it's taking more than 20 minutes. It stopped on this step:
`INITIALIZE_PLUGIN_dropbox-pencilblue: Initializing plugin dropbox-pencilblue`
![captura de pantalla 2015-05-08 a las 14 15 40](https://cloud.githubusercontent.com/assets/6004806/7536004/cafe8fe4-f58b-11e4-9b3d-b6a483987ba6.png)

But It seems I'm on the right way.
Thanks!
s.

[2015-05-08 12:29] brianhyder commented on #592
Hey @t0t,

  The config.js you have looks good except for the property "log_level".  It was removed in *0.4.0* in order to provide better future support for logging features.  Replace the "log_level" variable with:
[code]

The *silly* portion will be key because now you can rerun the install operation and check the console output to see where things are stalling.  We've seen instances where the np

[2015-05-08 13:02] blakecallens commented on #592
@brianhyder did you update the cli to generate the new logging object in config.js?

[2015-05-08 13:06] brianhyder commented on #592
Probably not. Should be a simple template change though.
On May 8, 2015 9:02 AM, "Blake Callens" <notifications@github.com> wrote:

[2015-05-08 14:13] t0t commented on #592
[code]

[2015-05-08 14:39] t0t commented on #592
:scroll: That was the "silly" log. :scroll:

I've just noticed taht I forgot the step num. 2. and didn't included this code to config.js.
Do I have to include twice? One for production case and the other for dev?

[code]
After that I'll restart pencilblue and push again to the server!

[2015-05-08 14:46] markbaird commented on #592
You have 2 separate configurations in your file, one for local, one for OpenShift. You will definitely need to include that media provider setting in the OpenShift portion of your configuration file if you want to use it on OpenShift. You shouldn't need the media provider configured in order to simply install the plugin though.

[2015-05-08 14:52] #593 closed

[2015-05-08 14:59] blakecallens commented on #593
Was this a misreported bug?

[2015-05-08 15:00] t0t commented on #592
I added
`db_media_provider.js`

here:
![captura de pantalla 2015-05-08 a las 17 11 38](https://cloud.githubusercontent.com/assets/6004806/7538885/92c0ae88-f5a3-11e4-9f80-fdbce7328656.png)

[2015-05-08 16:22] brianhyder commented on #592
No, media is its own root level item in the configuration.  Based on the log output you provided (that was a huge help BTW) it appears that on install NPM did hang for whatever reason.  I believe this is the case because when the server started it called NPM to install the dependencies for drop-box
[code]

[2015-05-09 19:33] jgerardsimcock opened #594 "MongoDB error"
![screen shot 2015-05-09 at 3 32 04 pm](https://cloud.githubusercontent.com/assets/6101444/7551686/a5c90508-f660-11e4-8f92-d04b89056cc1.png)

[2015-05-09 19:33] jgerardsimcock commented on #594
I am just getting started with PencilBlue and I got this error as I tried to run it

[2015-05-09 19:56] blakecallens commented on #594
Can you set your log level to silly in config.js and rerun?

[code]

[2015-05-09 22:47] markbaird commented on #594
That looks like the error I get when the MongoDB service isn't running.

[2015-05-10 00:33] tangledpixel commented on #593
Yes it is, sorry about that.

On Fri, May 8, 2015 at 7:59 AM, Blake Callens <notifications@github.com>
wrote:

--
Jonathan Eustace
CEO | *Tangled*Pixel | 604.782.6662

*WARNING: CONFIDENTIALITY NOTICE*
This message may contain confidential or privileged material or information
which is exempt from disclosure under applicable law. Any use,
dissemination, distribution or copying of this information

[2015-05-10 01:41] jgerardsimcock commented on #594
Thanks Mark. That was the problem

[2015-05-10 07:32] misbahneo opened #595 "Cannot deploy to heroku servers"
I've spent the last day trying to deploy my instance of pencilblue to my heroku server,

I've gone over all the past issues here on github, but stil no dice, I believe the issue may have something to do with the fact that it cannot detect my procfile when I push it to the master branch below I have my most recent tailed heroku log, my build profile & my config.json file

[code]

[code]

[code]

[2015-05-10 07:36] misbahneo commented on #595
is this possibly to do with this issue here?

https://github.com/pencilblue/pencilblue/issues/522

[2015-05-10 07:39] misbahneo commented on #595
yes it was

[2015-05-10 07:39] #595 closed

[2015-05-10 07:56] misbahneo opened #596 "Can I push my blog content to heroku too?"
finally managed to get my site online but now, i'm trying to figure out if there is a way to import the content that i uploaded to the local host site online?

[2015-05-10 08:04] misbahneo commented on #596
because i'm not having to do it one by one

[2015-05-10 16:54] JahlomP opened #597 "Media Provider Error on site update"
Whenever I update my site on heroku, the first request gives me this error in the browser:
`Whoops! Something unexpected happened.

Error: A valid media provider is required. Please check your configuration
    at new MediaService (/app/include/service/entities/media_service.js:40:19)
    at /app/include/service/entities/article_service.js:597:22
    at /app/include/dao/dao.js:142:12
    at /app/i

[2015-05-10 17:24] brianhyder commented on #597
What url are you trying to access? My guess is something is accessing the
media provider without an instance already setup.
On May 10, 2015 12:54 PM, "Precious Jahlom Agboado" <
notifications@github.com> wrote:

[2015-05-11 15:38] brianhyder commented on #596
The easiest way is to do it is a mongo dump from your local and directly push it to your production repo.  We haven't yet developed a migration feature.

[2015-05-11 15:39] #594 closed

[2015-05-12 00:01] brianhyder commented on #597
@JahlomP Did you figure this out?  What media provider do you have configured?  Also, if you are still having issues send us the log output in silly mode.  We should be able to tell what paths it is trying when it attempts to load a media provider.

[2015-05-12 06:24] JahlomP commented on #597
http://hugemap.info/. I am using Dropbox and I pull media on home page so i
when i visit homepage after update or server(heroku) waking from sleep,
that is when I get the error.

Will send the silly for analysis.

On Tue, May 12, 2015 at 12:01 AM Brian <notifications@github.com> wrote:

[2015-05-13 07:32] glymehrvrd opened #600 "Err: Undefined property 'keyword' on startup."
Hello, I initialized pencilblue following the `Quickstart guide`, but after I completed the setup and viewed the site, it complained:
[code]
What's going wrong? Any answer would be appreciated.

[2015-05-13 07:38] glymehrvrd commented on #600
The question got solved after I inserted an article, but I think there should be no error even if there are no article..

[2015-05-13 07:49] maxkudla opened #601 "TypeError: Cannot read property 'keywords' of undefined"
Whoops! Something unexpected happened.

TypeError: Cannot read property 'keywords' of undefined
    at /var/www/TEST/pencil/plugins/pencilblue/controllers/index.js:51:64
    at ArticleServiceModule.ArticleService.getMetaInfo (/var/www/TEST/pencil/include/service/entities/article_service.js:479:20)
    at /var/www/TEST/pencil/plugins/pencilblue/controllers/index.js:50:32
    at /var/www/TEST/pencil

[2015-05-13 10:48] brianhyder commented on #601
This issue duplicates #600

[2015-05-13 10:48] #601 closed

[2015-05-13 10:55] brianhyder commented on #600
I recently fixed an issue in the ArticleService.  In doing so I failed to provide backward compatibility for an error case.  The code for backward compatibility has been added and will be merged after the build completes.

[2015-05-13 10:56] brianhyder commented on #600
Thank you for reporting

[2015-05-13 14:01] blakecallens opened #603 "Add message to console if MongoDB service is unreachable"
We get at least one "error" reported each week, where the reporter didn't have their MongoDB service running and PB wouldn't start.

We need to add a clear console message in this instance that says, "Make sure that your MongoDB service is running then restart PencilBlue."

[2015-05-13 14:06] blakecallens opened #604 "Portfolio theme home page settings button missing"
If you go to the settings page of the Portfolio theme, the custom "Home Page Settings" button is missing.

Workaround is that you can still hit the page at /admin/plugins/portfolio/settings/home_page

[2015-05-13 14:42] markbaird commented on #603
Also, your quickstart guide [here](https://github.com/pencilblue/pencilblue/wiki/Quickstart:-Installation) is missing the "start mongodb" step.

[2015-05-13 14:43] blakecallens commented on #604
The AdminSubnavService is nesting the plugin parameter, so instead of plugin.uid it's plugin.plugin.uid

[2015-05-13 14:44] blakecallens commented on #603
Good catch.

[2015-05-13 15:05] blakecallens commented on #604
Changed the parameter in the registerFor function to be 'data' instead of 'plugin' so it's now data.plugin.uid

[2015-05-13 15:07] #600 closed

[2015-05-13 15:07] blakecallens commented on #604
@brianhyder, if pull request #605 is approved, then we'll need to change other plugins that call the registerFor function of the AdminSubnavService.

[2015-05-14 00:51] #603 closed

[2015-05-14 01:31] #604 closed

[2015-05-14 21:43] JahlomP commented on #597
![untitled](https://cloud.githubusercontent.com/assets/4746511/7642610/f38de54a-fa81-11e4-8f50-f894ecd3af13.png)

[2015-05-14 22:44] brianhyder commented on #597
The screenshot doesn't give us anything different.  We need the console output.

[2015-05-14 23:10] #596 closed

[2015-05-14 23:11] #592 closed

[2015-05-15 01:35] t0t opened #607 "Run node + pencilblue with plesk"
hi, I use a traditional hosting service with my own IP and ssh access on a linux Debian machine on the cloud. It has Plesk, node installed, MongoDB, also git...

Can you indicate any tutorial i order to make step by step Pencilblue and Node run there? I'm lost with the IP's, ports, DNS... ;(

![captura de pantalla 2015-05-15 a las 3 51 59](https://cloud.githubusercontent.com/assets/6004806/7645344

[2015-05-15 01:43] blakecallens commented on #607
Plesk and Node generally don't mix well, since Node is meant to create it's own http server. We currently don't support these types of environments, because the vast majority of node users deploy their applications to cloud services.

Here's a [link](http://jxcore.com/managing-node-js-applications-with-jxcore-plesk-extension/) on hosting Node apps in Plesk with JXCore, if you still want to go this

[2015-05-15 01:43] #607 closed

[2015-05-15 07:58] pando85 opened #608 "Pencilblue behind proxy in location /blog"
I'm trying to run pencilblue with this settings:
* site root is http://myserver.com/blog
* port:80
* siteIP: 0.0.0.0

I'm runing it in machine with local ip: 192.168.0.100
The main nginx that listen http://myserver.com  where I try to put pencilblue has a rule like this:
location /blog {
proxy_pass http://192.168.0.100
}

I don't understand why nothing is working. When I connect to http://myserver

[2015-05-15 15:09] t0t commented on #607
thanks @blakecallens,

I've decided to test pencilblue on a real server with 1click-install enviroiments like Nodejs, MEAN, etc. www.digitalocean.com

Which is more appropiate to host pencilblue?. As I can understand Pencilblue runs into its own server and already makes use of mongodb, node and express (if they are previously installed on the server). I'm very confused about that...

In other word

[2015-05-15 20:24] andparker opened #609 "The infinite article scroll on the pencilblue theme is loading duplicate articles"
I am seeing some weird behavior with the infinite article scroll on the landing page for the pencilblue theme. It is loading articles that may have already been present on the page. I can replicate the issue on a fresh install with only articles created. It looks like this may be caused by how the offset query is set in infinite_article_scroll.js and then used in get_articles.js.

[2015-05-15 22:25] brianhyder commented on #609
Just a heads up that I'm working on refactoring a lot of that article stuff.  Hoping to get through it all by the end of next week.  I will probably fix this as part of that refactor.

[2015-05-15 22:30] andparker commented on #609
Sounds good Brian. Thanks for the quick response.

[2015-05-16 03:12] markbaird opened #611 "Error using Redis with template cache"
If you setup Redis (not fakeredis) as your system's cache, and set cache templates to true like this:
[code]
Then your site behaves as follows:
* Load homepage once and everything is fine, loading your installed template
* Refresh the page and everything is suddenly using the default PencilBlue template
* Refresh the page a second time and you get this error:
[code]
From that point your site will

[2015-05-16 03:24] markbaird opened #612 "Compatibility issue with Redis Labs"
Given the fact that [Redis Labs only allows one database](https://support.redislabs.com/hc/en-us/articles/202215763-Can-I-have-multiple-databases-on-my-Redis-DB-Getting-ERR-invalid-DB-index-), instead of multiple numbered databases, PencilBlue currently fails to connect successfully to Redis Labs.

I found that `redis_registration_provider.js` specifies a Redis database index of `2`, on line 46. R

[2015-05-16 14:48] tommedema opened #613 "PencilBlue API for content generation?"
I've got a lot of text data in an existing database (articles) that I would like to programatically publish to a pencil blue website.

What would be the best way to publish this data? The data is categorized by taxonomies (E.g. finance / banking / loans).

I would prefer Pencil blue to read from my existing database, rather than having to synchronize the two databases.

[2015-05-16 17:07] brianhyder commented on #612
I don't think it does. If I recall correctly I selected a second database
in order to reduce the risk of locking up the instance while doing key
scans. I think o e operation calls keys xyz* to find a specific key
pattern. If this is an issue we can certainly make that a configurable
parameter or move to a single glass data are to support the new versions of
redistribution that do have moved past t

[2015-05-16 17:11] brianhyder commented on #613
Couple of questions:
What type of database are you currently try using?
Are you looking to continue to use that dB or migrate to Mongo?

We currently do not support pulling content from multiple sources. This
could most likely be built as a plug-in to consistently pull content from
other db.

Would you mind elaborating on your use case?
On May 16, 2015 10:48 AM, "tommedema" <notifications@github.c

[2015-05-16 17:26] markbaird commented on #612
I think your auto-correct tripped you up on that last sentence. I'm not sure what you are saying.

Also, what exactly is the minimum required setup to run multiple instances in a horizontally scaled environment? Do you just need redis or mongo configured for the registry, or do you also need specific cache settings configured under settings, templates and plugins? It looks like configuring the reg

[2015-05-16 17:35] brianhyder commented on #612
You are correct. My apologies. swype will be the death of me one day.

The most scalable solution is to use a real redis instance for caching
(command, registry, session, plug-ins). Use memory for templates. S3 for
media. In-momory will work at scale because it uses the command service to
notify other processes when things change but we have not tested it at mass
scale.

What I meant to say was:
I

[2015-05-17 03:39] kcdodd opened #614 "markdown tables?"
Tables written in markdown don't seem to work.

[2015-05-18 17:53] silverelizard opened #615 "When adding pages to nav it uses pageid in url"
To use the SEO and user-friendly slug style links defined on our pages, you must put the nav in yourself. If you use the page association tool in the nav, it automatically uses the id, instead.

[2015-05-18 18:07] markbaird commented on #612
My site has been running for several days now with `REGISTRY_DB` set to `0` without issues. I think it would make sense for that to be a configuration option.

[2015-05-18 19:45] brianhyder commented on #608
I would modify your config.js file to change the logging level to "silly":

[code]

That will tell you what PB is interpreting the path as.  Also check what links are being generated in the source.  Our experience is limited with nginx so I'm not sure what side of the fence the issue falls.

[2015-05-18 20:31] brianhyder commented on #611
Confirmed as a bug.  The issue is that the content isn't getting correctly transformed back into an object coming from cache.  A vast majority of the time you wouldn't need in-memory and cache which is why it hasn't shown up until now.  Good catch.

[2015-05-18 20:33] markbaird commented on #611
Yeah I didn't actually intend to use Redis for the template cache, I just enabled it by accident when playing with the cache settings.

[2015-05-18 20:40] brianhyder commented on #614
@blakecallens Are you addressing this as part of the WYSIWYG refactor?

[2015-05-18 20:41] brianhyder commented on #615
The game plan is to tackle this when the nav service is moved over to the base object service implementation.  When ever a page or article is changed the cache site-map potentially needs to update.

[2015-05-19 01:21] #612 closed

[2015-05-19 06:00] daniel-z opened #617 "What is the difference between user permissions for Admin and User interfaces?"

[2015-05-19 15:13] daniel-z opened #619 "Why are you not including express?"
I think that will help to include plugins from the express community. But I don't understand the technical implications of this.

[2015-05-19 15:53] blakecallens commented on #614
We're using 3rd party JS libraries to parse HTML to markdown and vice versa, so I'll have to see what's keeping tables from coming over.

[2015-05-19 16:06] blakecallens commented on #619
I'll give you a security example for why we don't use 3rd party tools for the core functionality of PencilBlue, although I'm sure @brianhyder has some more reasons he can share.

Once you're in with something like Express, because it runs the base of an application, you are completely locked in to that platform. On top of that, many of the plugins for Express that provide essential functionality a

[2015-05-19 16:06] #619 closed

[2015-05-19 16:11] blakecallens commented on #617
Anything above USER (WRITER and above) has access to the admin section, but the admin section will be limited, based on the permission level.

WRITERs can only create articles.
EDITORs can create pages and do basic management, like create new writers
MANAGING_EDITORs are essentially admins, without code level access
ADMINISTRATORs are super users

[2015-05-19 16:11] #617 closed

[2015-05-20 04:33] daniel-z commented on #617
Thanks for the answer, very clear. I have worked for a couple of weeks on pencilblue and I'm impressed how fast I could build themes, plugins and more on it.

[2015-05-20 04:34] daniel-z commented on #619
Thanks for the answer, very clear. I have worked for a couple of weeks on pencilblue and I'm impressed how fast I could build themes, plugins and more on it.

[2015-05-20 23:21] #597 closed

[2015-05-20 23:21] #608 closed

[2015-05-21 11:17] brianhyder commented on #611
This should now be fixed as part of PR #620

[2015-05-21 11:17] #611 closed

[2015-05-22 14:45] blakecallens commented on #614
It looks like the to-markdown library doesn't have tables yet, but it's on the todo list: https://github.com/domchristie/to-markdown/issues/89

When the update is ready, I'll integrate it.

[2015-05-25 09:26] MHerbst opened #622 "Unable to install the WordPress Import Plugin"
I have installed Pencilblue on a fresh CentOS 7 machine and tried to install the WordPress Import Plugin.
The installation hangs at about 20%.
![image](https://cloud.githubusercontent.com/assets/616792/7794951/71720e2c-02d0-11e5-9d9a-d8e2f9996874.png)

The log file contains the following message:
![image](https://cloud.githubusercontent.com/assets/616792/7794968/9bd39dac-02d0-11e5-8162-d97b935caed

[2015-05-25 11:50] brianhyder commented on #622
Thank you for the report. I'll take a look.
If you restart the pencilblue service does the button appear?
Did you install from the cli?
How did you create your config.js file?
Would you mind sharing your config.js file?
On May 25, 2015 5:26 AM, "Martin Herbst" <notifications@github.com> wrote:

[2015-05-25 13:02] MHerbst commented on #622
Thanks for the fast answer.
I have restarted it and got the messages:  "Initialized plugin ... RESULT=[true]". I think that it was only partially installed because the first installation did not finish. The installation of other plugins (e.g. portfolio theme) worked fine.
I have tried the install from the cli and also the manual install by cloning it from github.
For the config.js I used the sampl

[2015-05-25 13:06] brianhyder commented on #622
Thank you for the clarification. The WP import plug in has dependencies we
have to retrieve from npm using their module. That is why the others
install fine. They do not do the dependency check. I was able to partially
reproduce locally so I'm hoping I can dive in and figure out what is going
on.
On May 25, 2015 9:02 AM, "Martin Herbst" <notifications@github.com> wrote:

[2015-05-25 13:46] dcromster opened #623 "Docs: Linux Installation - need to add 'install git'"
There is no information about git in 'Linux Installation'. Please add :)

[2015-05-27 23:05] tangledpixel opened #624 "Cannot remove child object from custom object"
To create this issue :

(causes the terminal to also spit out :  DAO: getNotIDField is deprecated. Use getNotIdField instead)

1) create a custom object (type a)

2) create 2 instances of custom object type a

3) create another custom object (type b) that holds custom object type a as a child object

4) Add one of the custom objects of type a to type b, save

5) Try to remove the child object from

[2015-05-29 17:32] btidwell opened #626 "RequestHandler does not unregister static routes added by theme plugins"
When uninstalling a plugin, any route that was registered in static routes by a theme plugin (i.e. Portfolio's '/blog') is not deleted.  After uninstalling the portfolio plugin, the '/blog' route is still active and does not return a 404.

[2015-05-31 01:56] #622 closed

[2015-05-31 01:59] #613 closed

[2015-06-01 00:05] brianhyder commented on #623
Done, thank you for reporting

[2015-06-01 00:05] #623 closed

[2015-06-02 15:26] PieturP commented on #615
Is there any timeframe on when this issue will be tackled? — Thanks in advance for your answer :)

[2015-06-02 16:56] evanadams28 opened #629 "Latest master does not persist active theme."
Custom theme templates are not being routed to as of the latest revision of the master branch. The active theme becomes undefined or defaulted to the pencilblue theme even though a custom theme is set to active.

[2015-06-02 17:19] brianhyder commented on #629
Thanks for the report. We'll take a look.  We recently made a couple of changes to boost performance and reduce the number of times the active_theme setting was retrieved per request.  We probably missed something.

To recap, if I installed say the portfolio plugin and set it to active theme it would not route appropriately when the home page is called?

If you change the logging level to ```silly

[2015-06-02 17:49] evanadams28 commented on #629
Yes, that scenario would be what I'm seeing. I changed the logging level to silly, but I didn't see the line you were talking about. Instead, I threw a console.log(this.activeTheme); in the template service (which of course gets hit a gazillion times) and the start of the log trail is the following on the home page load of the portfolio theme:

portfolio
undefined
undefined
pencilblue
pencilblue
p

[2015-06-02 18:17] evanadams28 commented on #629
I got the silly logging to work. So, I added a dummy custom theme, a dummy custom page, and also a dummy custom page to the portfolio theme. This is what I'm seeing when I go to the route with the portfolio theme active:

`2015-06-02T18:09:53.076Z - silly: [M] RequestHandler: Found static route [/customPageForTesting]
2015-06-02T18:09:53.076Z - silly: [M] SettingService1: Checking Service [DB] for

[2015-06-02 18:32] brianhyder commented on #629
Thank you for the info. It would settle on the portfolio theme if the route
was supported by portfolio. Since it is not then it settles on the theme
that supports it.
On Jun 2, 2015 2:17 PM, "Evan Adams" <notifications@github.com> wrote:

[2015-06-02 22:31] brianhyder commented on #629
@evanadams28 I wasn't able to reproduce it with the portfolio and dev-blog theme using ```/blog``` endpoint so I'm trying to narrow down a couple of items.

Your console.log statement that outputted the active theme in the template service, where was it placed?  Not all instances of the TemplateService are passed the active theme in the constructor.  Sometimes it must be discovered by retrieving t

[2015-06-03 00:01] brianhyder commented on #615
Hey @PieturP,

  I've been putting it off because I've been trying to think of a good way to implement this.  We could easily change it over to use the slug but in the event that the slug changed the nav item would have to be manually updated.

We just didn't want to have to place this burden on our users.

Ideally, what we would like to do is to provide an API that allows for easily manipulating

[2015-06-03 02:27] chamrc opened #632 "WYSIWYG: Server running on Ubuntu generate ��� when pasting large chunk of text"
When saving a long article in Chinese, the server save some parts of the text as ���. The text ��� replaces part of the article in completely random positions after each save. This, however, does not happen when I run it using a Mac. The server is running on a Ubuntu 14.04.

Here's a [sample](http://wenjifdc.com/article/The-administrative-licensing-law-of-the-peoples-Republic-of-China).

I was try

[2015-06-03 02:59] #626 closed

[2015-06-03 13:15] blakecallens commented on #632
I think this might have to do with UTF-8 encoding. Can you add the following to [line 9 of the article_form Angular controller](https://github.com/pencilblue/pencilblue/blob/master/plugins/pencilblue/templates/angular/admin/content/articles/article_form.html#L9) and see if it solves this?

[code]

[2015-06-03 15:33] PieturP commented on #615
I see your point. Personally, I'd like to think that user friendliness and SEO are more important than possible dead-links when users change slugs — but that might just be me.
Ideally one could indeed expect the URL's in the navigation to change whenever the slug changes.

On the other hand, if such URL's were to be indexed by search engines or referenced from other pages, they would of-course als

[2015-06-03 15:59] btidwell opened #633 "404 on articles with url value with 12 characters"
For published articles that have a "url" value of exactly 12 characters, we receive a 404 response when trying load the article on the front end.

In /plugins/pencilblue/controllers/article.js line 84, we check to see if the "custUrl" parameter is a valid ID string. I did some digging into mongodb and bson modules, we eventually end up instantiating an object of type ObjectID as bson's objectid.js

[2015-06-03 17:48] chamrc commented on #632
I tried it, but doesn't seem to work tho. It seems like the server is using 0.3, I'll update it to 0.4 tomorrow and try it out. It turns out that this problem occurs on all OSes including Windows Server 08 x64 and Mac.

[2015-06-03 17:52] blakecallens commented on #632
If it persists with 0.4.0. I would log the POST object to the console and see if it contains the unrecognized characters, or if it's something with data storage.

[2015-06-03 21:49] anlawande opened #634 "Startup fails on 2nd time"
Hi Team,

I tried installing the pencil blue node module. It's starts up the first time (with some module not found errors) but 2nd time I start it and hit the root URL, it crashes with below error.

[code]
I dont even have a G drive . I don't know where that file i coming from.

Every startup is preceded with module not found errors
[code]

[2015-06-03 21:54] brianhyder commented on #634
That BSON line indicates that it is the Mongo dependency failing. Most of
the time this is because the npm install errored at some point but
continued on. Please try removing the node_modules directory under your
pencilblue installation and then run npm install with your pencilblue
installation as the working directory.

Let us know if that fixes it or not. If not, could you please pass along
the

[2015-06-03 23:08] anlawande commented on #634
Yup node-gyp error. Just went right by me. VCbuild stuff. God I hate these VCbuild packages.

[2015-06-04 01:09] brianhyder commented on #634
Yeah, it is a pain. It is the one reason we can't deploy to azure. Glad we
could get things figured out.
On Jun 3, 2015 7:09 PM, "Aniket Lawande" <notifications@github.com> wrote:

[2015-06-04 07:27] chamrc commented on #632
I figured out why. Adding the following line to BaseController and line 9 that you suggested for Angular Controller solves the problem.

[code]

[2015-06-04 07:36] chamrc commented on #632
nvm, that line did not work. :(

It's related to getPostData function in BaseController.

[code]

[2015-06-04 11:51] #634 closed

[2015-06-04 11:53] brianhyder commented on #633
Thank you for the report.  I'll get this fixed.

[2015-06-04 12:43] #633 closed

[2015-06-04 12:53] btidwell commented on #633
Thanks, Brian

From: Brian <notifications@github.com<mailto:notifications@github.com>>
Reply-To: pencilblue/pencilblue <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, June 4, 2015 at 7:53 AM
To: pencilblue/pencilblue <pencilblue@noreply.github.com<mailto:pencilblue@noreply.github.com>>
Cc: IT <ben.tidwell@careerbuilder.com<mailto:ben.tidwell@careerbuilder.com>>
Subject: Re:

[2015-06-04 16:41] chamrc commented on #632
I ended up using escape and unescape for Unicode, and that works perfectly. A little bit of hack. The way data is appended using req.on('data', function()) doesn't work very well with unicode. I had to encode unicode to ASCII for it to be transmitted properly.

[2015-06-04 16:41] #632 closed

[2015-06-04 16:56] blakecallens commented on #632
Thanks, @chamrc.

@brianhyder maybe there's a quick fix to this in the JSONPostParams stuff?

[2015-06-05 00:43] brianhyder commented on #632
Ok guys,

  Here is what I know.  We were incorrectly concatenating buffers.  I've created a branch: issue/632.  @chamrc if you could test that out it would greatly appreciated.  Additionally, it appears that Node.js only supports the following encodings natively:
http://stackoverflow.com/questions/20224791/what-encodings-are-available-node-js

I'd also like to follow up with a couple of questions

[2015-06-05 00:48] blakecallens commented on #632
It's possible to force the page to utf-8, which is what the current admin tmp_head does. It's also possible to force Angular to set all $http headers to Content-Type utf-8, which is what the first code snippet I gave @chamrc did.

The only hesitation I have with adding the second option is there are some outliers who may want another encoding. We could set up a template that sets the common $http

[2015-06-05 01:15] brianhyder commented on #624
Huge thank you for the detailed bug report.  Turns out the library that powers our ```util.deepMerge``` doesn't overwrite arrays.  instead it does a union.

I've updated the merge logic to be based off of the fields of custom object type.

[2015-06-05 01:39] #624 closed

[2015-06-05 02:18] chamrc commented on #632
I'm trying out branch 632 at the moment.

I was using Chrome, but Safari had the same problem.

The URL of the article content can be found [here](http://www.gov.cn/flfg/2005-06/27/content_9899.htm). Copy everything from "中华人民共和国主席令" to "自本法施行之日起停止执行。"

[2015-06-05 02:49] chamrc commented on #632
9a7d375 did fix the problem. No longer has that problem.

[2015-06-05 18:14] duc-nguyen-locm opened #637 "URL Key check stopped working"
I installed build from 6/4/2015 and noticed the Check button when creating navigation has stopped working.

[2015-06-06 11:27] brianhyder commented on #637
Confirmed as UI bug.

1. Navigate to the admin section
2. Click "Navigation" on the left hand side
3. Click "+" to create a new nav item
4. Select "Section" as the type
5. Enter "check-me" into the URL Key field
6. Click the "Check" button

Result: Nothing happens.  No console error or UI action.

Notes:
The button element has an "ng-click" attribute that points to a function ```validateURL('secti

[2015-06-06 15:07] anlawande commented on #634
Unfortunately this issue is still occuring even with all modules installed successfully.

[code]

[2015-06-06 15:14] brianhyder commented on #634
Are you having the issue on tour local machine or a vm?
On Jun 6, 2015 11:07 AM, "Aniket Lawande" <notifications@github.com> wrote:

[2015-06-06 15:20] anlawande commented on #634
local machine win 8.1 x64.
Modules built using vs 2015

The error comes when I hit any URL after starting the server. It is uncaught and crashes the entire server

[2015-06-06 15:21] brianhyder commented on #634
Awesome, thank you for the additional info. I have a windows 7 machine
sitting around somewhere. I'll fire or up and see if I run into any issues.
On Jun 6, 2015 11:20 AM, "Aniket Lawande" <notifications@github.com> wrote:

[2015-06-07 02:12] blakecallens commented on #637
I'm on it.

[2015-06-07 02:20] #637 closed

[2015-06-07 05:38] duc-nguyen-locm commented on #637
Thank you!

[2015-06-07 23:32] #609 closed

[2015-06-08 01:15] brianhyder commented on #68
@markbaird Hey, I know it has been awhile since we have touched on this.  I recently had a chance to dive back into this.  I made a few performance improvements as well as refactored the way the home page for the default theme works.  If you happen to be tinkering around in that area would you take a look?  I'd love the feedback.

[2015-06-08 01:17] brianhyder commented on #247
This has been completed in terms of a new service being built.  The work item is still not complete as plugins should be updated to utilize the new model: ArticleServiceV2

[2015-06-08 01:17] brianhyder commented on #629
@evanadams28 Are you still having issues with this?

[2015-06-08 01:21] brianhyder commented on #634
@anlawande I wanted to provide an update.  I went through a fresh install on Windows 7 machine without VS installed.  Everything ran as normal.  I'm working on getting the VS community installation downloaded and installed.  I'll retry after that and give you a heads up what I find.

[2015-06-08 11:21] anlawande commented on #634
Thanks @brianhyder

[2015-06-08 14:31] markbaird commented on #68
Thanks Brian, I'll spend some time looking at it this week.

[2015-06-08 14:32] brianhyder commented on #68
Thank you, greatly appreciate the second set of eyes.
On Jun 8, 2015 10:31 AM, "Mark Baird" <notifications@github.com> wrote:

[2015-06-08 22:40] brianhyder commented on #634
@anlawande I installed VS 2015 and still cannot reproduce the error.  On a fresh install BSON does produce an error during the ```npm install``` even with the error PB still starts up because the BSON defaults to the pure JS implementation instead of the c++ extension.

What version of Node.js are you running?  I did find this post:
https://github.com/joyent/node/issues/7691

If you are not runnin

[2015-06-09 07:46] veimis opened #642 "Unable to install WordPress import plugin"
I tried to install the WordPress import plugin on a fresh PencilBlue (git clone) installation.
On first installation attempt the installation hangs just like described in #622 and the import button is not available.
On a second attempt (after uninstalling) the installation completes, but the import button is still not available.
I have the problem on both local and heroku+mongolab deployment.
Node

[2015-06-09 10:26] brianhyder commented on #642
Hey, thank you for reporting your issue.

Locally, would you mind helping us out and perform the following:
* Modify your config.js such that the ```logging.level``` property is set to ```silly```
* remove the ```plugins/wp_import/node_modules``` directory
* start PB
* send us the console output & the MongoDB version you are using

My guess is that much like #622 the npm module is hanging for what

[2015-06-10 00:51] markbaird commented on #68
The controllers are going to be so much cleaner now. I'm looking forward to using this new version. I'm also excited about some of the plugin hooks you are building in. One question I have is, since so much is done in content_view_loader now, how exactly would you register some additional values, or override values set by content_view_loader, from within your controller?

Also, one thing I've stru

[2015-06-10 19:15] veimis commented on #642
Hi, thanks for the reply.

MongoDB version 2.4.9

I think here is the interesting part of the log (full log [here](https://gist.github.com/veimis/784320d6205ff5a09f30#file-pb_wpimport_log)):

{"level":"debug","message":"PluginService:[INIT] Beginning initialization of WordPress Import (wp_import)","timestamp":"2015-06-10T18:59:51.512Z"}
{"level":"debug","message":"PluginService:[INIT] Attempting t

[2015-06-10 22:18] brianhyder commented on #642
Thank you for providing that!  It is as I suspected.  The npm module appears to be silently failing for whatever reason.  We can tell because in the output you were kind enough to provide shows the line: ```PluginService: Installing dependencies for wp_import.```.  Then after that line there is no npm specific output.  It goes on to the next item as if it completed successfully.  In addition, ther

[2015-06-10 22:37] brianhyder commented on #68
Thanks for the feedback!

The thought was to create the content view loader in a way that could be overridable.  A lot of the TemplateService callbacks are prototype functions on the ContentViewLoader.  This means that you can override these functions in your own implementation to change specific behavior.  In the case of additional flags, the ContentViewLoader requires an instance of TemplateServ

[2015-06-10 22:49] markbaird commented on #68
That is really cool how the registered callbacks are passed down to each child instance. That definitely simplifies things. And I see now how easy it would be to override those functions on ContentViewLoader. Definitely looking forward to working with this new version.

I probably won't be able to do any work on the ArticleServiceV2 changes you are suggesting until this weekend. If you work on it

[2015-06-10 22:59] brianhyder commented on #68
Awesome.  I can guarantee I won't make it around to it by the weekend so you're good.  I started an article api.  It has built in support for paging and ordering.

However,  I still need to figure out:

* I still have no idea yet how to handle the filters to build out where clauses from the query string.  OData looked intriguing but I couldn't find anything that would translate it to a mongo where

[2015-06-11 15:21] veimis commented on #642
Hi,

Actually before I posted only the log output, not the console output as requested. Sorry about that, I assumed it would be identical.

Anyway, here is the console output and the npm output is present as it should and the xml2js is installed on the plugins/wp_import/node_modules directory.

[code]

I tried giving the plugins and plugins/wp_import directories full access rights, but I didn't se

[2015-06-12 01:08] djwhatley commented on #629
I have been having an issue with templates in the active theme not overriding base templates. Was able to circumvent it by overriding the appropriate controller, but I just removed the controller to see if it is working properly now, and it still does not appear to be overriding the default templates.

[2015-06-12 15:27] JahlomP commented on #629
The frontend of my theme is working but the custom admin section I wrote isn't. my custom fields on add new articles page are no more there. It defaults to pencilblue plugin.

[2015-06-12 15:32] blakecallens commented on #629
Make sure that the template file is still the same in the controller. We consolidated the add and edit articles pages into a single article_form template with the Angular forms update a few months back.

[2015-06-12 15:37] evanadams28 commented on #629
@brianhyder Yes, I am still seeing the issue. I pulled from master again this morning and I'm seeing what @djwhatley described. Active theme's plugin templates are not properly overriding base templates. I'm actually passing my investigation on to @cchatham. She will get back to you with more details about the issue in this thread. She will actually find the root cause in code and get back to you

[2015-06-12 16:35] brianhyder commented on #629
Awesome,

thank you guys for working through this one with us.

[2015-06-12 16:50] brianhyder commented on #642
@veimis I figured it out.  Once it builds and we have green lights I'll merge.  Sorry this took so long.

[2015-06-12 17:35] JahlomP commented on #629
@blakecallens, I will look at it and report

[2015-06-12 17:54] #642 closed

[2015-06-12 18:02] cchatham commented on #629
Okay so here is the lowdown:

Setup and Backstory:
* Pulled directly from Pencilblue master branch - Portfolio looks fine.
* Pulled down and installed one of our private plugins:
..* This plugin interfaces with internal APIs, adds routes to our app, and has default templates (just in case our theme does not override.)
..* I will call this Job.
* Pulled down our private theme plugin and installed:

[2015-06-12 18:04] cchatham commented on #629
O and I am also continuing to dig but I wanted to include as much info about the issue as possible as I go.

[2015-06-12 19:34] cchatham commented on #629
Alrighty guys. Found the issue but don't know the best solution. So the routeTheme in the RequestHandler is definitely polluting the active theme. If I comment out the lines below in TemplateService everything is fine.

    TemplateService.prototype._getActiveTheme = function(cb) {
        //if (this.activeTheme) {
        //    return cb(null, this.activeTheme);
        //}
        pb.settings.ge

[2015-06-12 20:43] slavajacobson opened #644 "Translatable pages/content"
Are there any plans to add ability to translate site content to other languages?

[2015-06-13 16:39] blakecallens commented on #644
We have no current plans to maintain pencilblue.org in any other language but English, at the moment. If you're referring to localization capabilities in the platform, it's already built in. [Here's the tutorial](https://github.com/pencilblue/pencilblue/wiki/Quickstart:-Localization).

[2015-06-13 16:39] #644 closed

[2015-06-13 18:13] slavajacobson commented on #644
I'll clarify

by site content I meant a site hosted by PencilBlue CMS.

So when a user enters content for a certain page, he/she can choose the Language, for example FR for french site content,

and later when visiting the page site.com/fr/page_name

The content for that specific page/URL will display the French content or have a fallback to English content if French content is not available.

Sim

[2015-06-14 11:16] veimis commented on #642
Excellent! Thanks for fixing it.

[2015-06-14 11:42] veimis opened #646 "WordPress data import fails"
Hi,

After installing the wp_import plugin the WordPress XML import fails with the following error message:

Pages from my WordPress site were imported, but the articles were not.
I had default settings (don't create users, download media).
Full log file is [here](https://gist.github.com/veimis/ce1b8addd148283b6b44#file-pb_wp_xml_import-log)
Here is the [WordPress XML file](https://gist.github.com

[2015-06-14 13:17] brianhyder commented on #646
@veimis The issue is that a couple of your pages do not have a value for the post name element: ```<wp:post_name></wp:post_name>```.  For articles, we fallback to another element.  For pages, the fallback wasn't implemented.  I am pushing a fix that will provide the fallback.

[2015-06-14 13:42] brianhyder commented on #629
Thank you to everyone that provided information.  It has been enormously helpful.  In the end, poor variable naming strikes again.  In the RequestHandler on line 739 the ```onSecurityChecksPassed``` function is called.  Instead of passing the active theme.  It passes the theme that is associated with the route/controller combination that will handle the request.

The recent changes to pass this va

[2015-06-14 13:42] #646 closed

[2015-06-14 13:43] brianhyder commented on #646
@veimis You should be good to go.  Let me know if you run into any more issues.  Thank you for working with us.  The feedback is greatly appreciated.

[2015-06-15 10:40] veimis commented on #646
@brianhyder great thanks! Quick responses are also greatly appreciated. I now have all my pages and articles imported.

The problematic page was a draft that had not been published and therefore (I believe) had no ```wp:post_name``` -element. Now this draft also had the same ```<title>Klubi</title>``` as an other page. Luckily the other page, as it was published, had ```wp:post_name``` as lower ca

[2015-06-15 18:43] andparker opened #649 "Resend verification displays "email address has already been verified" for an unverified email"
When I try to resend a verification email, *mysite.com/user/resend_verification*, for an unverified user, I am getting the "*email address has already been verified*" error message.

I believe here, https://github.com/pencilblue/pencilblue/blob/master/plugins/pencilblue/controllers/actions/user/resend_verification.js#L41, the conditional should be checking if the user is NOT null, right? If the us

[2015-06-15 20:04] veimis opened #650 "Search field does not work on pages"
Hi,

The search field on ```/admin/content/pages``` does not work for me, see the screenshot.
![pencilblue_pages](https://cloud.githubusercontent.com/assets/7142134/8169444/4acf8cac-13b2-11e5-9353-07ac1bfba9af.png)

Typing into the search field does not filter the results, even if I hit enter. The search works on articles ```/admin/content/articles```.

Also the navigation controls in the bottom d

[2015-06-16 21:48] brianhyder commented on #629
@cchatham @JahlomP @djwhatley @evanadams28

I have created a branch ```issues/629``` along with a commit which I *hope* will fix the issue.  Since I haven't been able to get a setup locally to test it out would y'all mind pulling it down and checking for me?

It would be greatly appreciated.

[2015-06-16 21:53] brianhyder commented on #649
@andparker You are correct.  I will make the fix.

[2015-06-16 22:28] anlawande commented on #634
Hey @brianhyder. Sorry for the delay. I did try a nodejs upgrade. It doesn't seem to crash now.
But earlier I was facing process hangs. But today I'm not.
Going to experiment with setting up on openshift.
I'm only concerned about the high CPU utilization. If it persists I will follow up with another issue.

[2015-06-17 01:49] djwhatley commented on #629
@brianhyder Yup it seems to be working fine now!

[2015-06-17 08:41] JahlomP commented on #629
ok

On Wed, Jun 17, 2015 at 2:49 AM Daniel Whatley <notifications@github.com>
wrote:

[2015-06-17 12:33] #649 closed

[2015-06-17 12:51] cchatham commented on #629
I will check after my first meeting today.

[2015-06-17 13:45] andparker commented on #649
Thanks Brian!

[2015-06-17 14:19] cchatham commented on #629
@brianhyder looks good to me!

I am still seeing an issue with the template service not respecting the localization service i pass in. I mentioned it in my previous post. Was this intended to be a breaking change?

My previous post I am referring to:

"I also found a second bug in TemplateService:

function TemplateService(opts){
var localizationService;
if (!opts || util.isFunction(opts)) {
local

[2015-06-17 14:55] brianhyder commented on #629
I forgot about the second bug :(.  I got excited about the easy fix to the original issue.  I'll knock it out this evening and include it as part of branch mentioned above.

Thank you @cchatham for the reminder!

[2015-06-17 15:03] cchatham commented on #629
@brianhyder thank you! i appreciate all the fixes! :D

[2015-06-17 16:53] hello-jason opened #653 "Do not force navigation names and headlines to be unique"
## Navigation Links

I receive the error `name:The provided name is not unique` when trying to save a navigation link with the same **name** as another navigation link.

In practice, the following menu structure seems perfectly reasonable (notice repeating names under various sections). I feel **unique navigation link names should not be enforced**.

[code]

![2015-06-17_11-37-53](https://cloud.gi

[2015-06-17 17:10] hello-jason opened #654 "Cannot opt out of sending information"
To reproduce:

1. Visit `Site Settings` page
1. Change **Help to improve PencilBlue by sending us information about your installation** to `No`
1. Save
1. Refresh page, and now **Help to improve PencilBlue by sending us information about your installation** is set back to `Yes`

![2015-06-17_11-55-28](https://cloud.githubusercontent.com/assets/1406213/8213532/0235a0da-14e8-11e5-92dd-2c41b0b7a74d.p

[2015-06-17 21:36] brianhyder commented on #629
@cchatham I have pushed a fix to the branch.  I will merge after green lights from Travis.

[2015-06-19 01:35] #629 closed

[2015-06-19 17:12] t0t opened #655 "Scripts not loading on the footer?"
hi guys!

I'm learning PB. Trying to make my first theme and understand the architecture. :frog:
Have you considered to load js on the footer instead of in the header of the page?

thanks.

[2015-06-19 19:17] blakecallens commented on #655
You're welcome to do that in your theme. The script tags can be put anywhere.

[2015-06-19 19:17] #655 closed

[2015-06-19 19:25] blakecallens commented on #654
Thanks for the catch. The setting is being properly saved. It wasn't being prepared properly for passing to the frontend. I'll merge the fix once the Travis build is done.

[2015-06-19 19:40] t0t commented on #655
That's why I told you. When I put them on the footer I get errors. Nav not loading.

[2015-06-19 19:45] #654 closed

[2015-06-19 19:47] blakecallens commented on #655
Then please post the error log, so we can look at it.

The nav is laid out server side and rendered with the page, and the scripts are just pointing to the libraries themselves (bootstrap, jquery, angular, etc.). Chances are, there's something missing in your setup.

[2015-06-19 21:02] t0t commented on #655
ok, sure.
thanks!

[2015-06-20 11:33] #650 closed

[2015-06-20 22:55] net1313 opened #658 "Meta tags of the page and article"
Hi everyone,
I try to use Pencilblue with French localization. Why do the meta tags of the page or article are outputted in HTML encode? It concerns title, description, keywords and headline.
For example, instead of français you get fran &# 231 ; ais. I can't figure out where it is converted (maybe in getMetainfo?), because MongoDB keeps it in utf-8 format, everything is ok.
Don't think that is go

[2015-06-20 23:01] net1313 opened #659 "Meta tags of the page and article"
Hi everyone,
I try to use Pencilblue with French localization. Why do the meta tags of the page or article are outputted in HTML encode?
It concerns title, description, keywords and headline.
For example, instead of français you get fran &#231 ais. I can't figure out where it is converted (maybe in getMetainfo?), because MongoDB keeps it in utf-8 format, everything is ok.
Don't think that is good

[2015-06-21 08:14] veimis commented on #650
Thanks @brianhyder !

[2015-06-21 21:58] brianhyder commented on #658
@net1313 When elements are rendered we make sure that the text that will be displayed is properly HTML encoded.  Part the npm encoder package we use ```htmlencode``` converts the higher byte characters to ensure proper encoding for browsers.  The ```&#231;``` represents the  ```ç``` character just HTML encoded.

When search engines read the meta tag it will convert the encoding back to the proper

[2015-06-21 21:58] #658 closed

[2015-06-21 22:03] brianhyder commented on #659
See response for #658

[2015-06-21 22:03] #659 closed

[2015-06-21 22:11] brianhyder commented on #653
@hello-jason Thanks for reporting the issue.  We are looking to revamp the navigation by EOY 2015.  This is something we will be including in that refactor.  I wanted to give you a heads up as to where the fix for this would fall.  We are also happy to entertain pull requests to alleviate the current pain point.

When it comes to articles and pages I sit on the fence.  For pages I could see this f

[2015-06-22 17:31] hello-jason commented on #653
I see your thought process with the article names, but I frankly believe that it is not the job of PencilBlue to be dictating what users can name their articles and pages, alike.

Perhaps the functionality you are describing could be a warning which warns the user that another article has the same headline, explains potential duplicate content issues, yadda yadda, then lets the user decide what to

[2015-06-22 17:43] blakecallens commented on #653
@hello-jason we'd welcome any plugins that modify the core functionality to do what you're requesting, but we would need more requests from our community to change this functionality in the core.

[2015-06-22 21:39] hello-jason commented on #653
Understood. Closing, since is not a direct issue.

[2015-06-22 21:39] #653 closed

[2015-06-23 20:08] nuhuxi opened #661 "Running instance on AWS and cant seem to get the urls right"
Hi guys appreciate your help. I have PB running on my dev server and it installed like magic. Very nice product! Tried to install it on my AWS server and for some reason the site urls are screwed up. Here is the config.js file that I am running - there is more to it but the only fields I am changing from the sample are listed here:

    "siteName": "Linked-2",
    "siteRoot": "http://54.153.86.84:

[2015-06-23 20:10] brianhyder commented on #661
Hey, we can definitely help out. Can you elaborate a bit more on the part
about the urls being screwed up?
On Jun 23, 2015 4:08 PM, "Mark Keckeis" <notifications@github.com> wrote:

[2015-06-23 20:40] kevinhikaruevans opened #662 "Option to disallow new users from being created"
Would it be possible to add an option to prevent new users from being created?

[2015-06-23 20:46] brianhyder commented on #662
This clearly needs to be refactored to properly support this but you can do this already by disabling the ```allow_comments``` content setting.

You can change this setting by going to ```/admin/site_settings/content``` then clicking the comments tab.  Select "No" under "Allow Comments" and then save.  That should cause the user to be redirected to the home page when attempting to access the signu

[2015-06-23 20:47] brianhyder commented on #662
If you want comments enabled then another option would be to override the route in your theme and just redirect or serve a 404.

[2015-06-23 21:24] nuhuxi commented on #661
Hi Brian - I appreciate your help.

As I said, PB is running on my dev server - no problem... I have loaded
some content - it looks really good. I am going to have some questions and
will probably end up writing a theme, which is OK, because clients always
want  this and that. You know what I mean...

On AWS, I installed the cli - no problem. I used 'pbctrl install' and went
through the setup ques

[2015-06-23 21:39] blakecallens commented on #661
I'll let @brianhyder troubleshoot, but you might be more interested in deploying PencilBlue to Elastic Beanstalk. PB has been set up to work well in those types of PaaS environments.

[2015-06-23 21:44] nuhuxi commented on #661
OK - I have it running on my dev server without a problem. Havent really
had a problem with anything else.... It ought to work..

On Tue, Jun 23, 2015 at 2:39 PM, Blake Callens <notifications@github.com>
wrote:

--
     Mark Keckeis
     480-550-8020

Linked-2 Consulting

[2015-06-23 21:53] brianhyder commented on #661
Great.  When you are starting PB are you using the CLI or just a basic command like, ```node pencilblue.js```?

Additionally, would you mind sharing what you needed to change in order to resolve the issue with the URLs?

[2015-06-23 22:04] nuhuxi commented on #661
Hey Brian - I dont mind sharing anything.

I am using pbctrl start.

The process seems to behave a little differently on ec2 because I cant use
cntrl-c to kill it. I have to use ctrl-z. I can use cntrl-c on my dev
server. There are a few things that a bit different on ec2 - like I have to
say 'nodejs blah.js' to get a script to run rather than node 'blah.js'. I
dont pay for an elastic beanstalk ac

[2015-06-24 01:21] #579 closed

[2015-06-24 15:00] nuhuxi commented on #661
No - that isnt the problem. I think it is user error..... :-)

[2015-06-24 18:34] nuhuxi commented on #661
Well, I have given up. PB went in like a dream on my dev server. But after a few hours of wrestling with it on AWS - it just isn't happening. The only thing I can think of is that it must some sort of firewall issue.

The config.js files are logically equivalent on both AWS and dev. BUT - on AWS I get timeouts and the setup page can't load setup.js. I know that the firewall is letting me through (

[2015-06-24 18:45] nuhuxi commented on #661
BTW - I will leave it up if you want to see the behavior. I am sure you have tons of things to do...

54.153.86.84:3000

[2015-06-24 18:54] markbaird commented on #661
If it was a firewall issue you wouldn't be able to get to the setup screen. It sounds like the links to some of the static resources aren't using your custom port 3000. Is that what you are seeing in your browser log? Maybe there is a bug in the way the links are built for those resources.

In the mean time, is there any reason you can't run the server on the standard port 80?

Regarding your seco

[2015-06-24 19:07] markbaird commented on #661
Also, you said that you don't pay for an Elastic Beanstalk account, but it is actually included in your AWS account. Elastic Beanstalk just sets up your resources, like your EC2 server, for you. Having Elastic Beanstalk create a single EC2 server for you wouldn't cost any more than manually creating one yourself like you are doing now.

You might also be interested in OpenShift Online which is a P

[2015-06-24 19:21] nuhuxi commented on #661
Hey mark. I am guilty on a bunch of fronts. Regarding aws... I have had the
account for about a year and have been busy with client stuff so I haven't
really dived that deeply into the aws pool.... I will check it out.

This a server that I make available so that clients can see things. I don't
think 3000 is open to 0.0.0.0.0. I will try it on port 80 this afternoon
and see if it changes anything.

[2015-06-24 19:37] markbaird commented on #661
Not sure what OS you are running on your EC2 server, but you will probably need to bind PencilBlue to a higher port like 8080 and then use iptables rules to open port 80 and redirect traffic on that port to 8080. And of course you'll also need to open port 80 in the AWS security group.

[2015-06-24 20:56] nuhuxi commented on #661
Well... I run nod servers on port 3000 all the time and have never had a
problem. Server is running Ubuntu 14.04 LTS. Just got back to my office so
I will change it to run on port 80.

Let me ask you something.... Is there a reason I cant sudo kill the node
processes associated with PB? I notice that I have to use cmd-z to kill the
server instead of cmd-c.

Many thanks... I will do the port switch

[2015-06-24 21:21] markbaird commented on #661
If you have `self_managed` set to `true` in your config.js file, then there are multiple threads started, including a management process that monitors and restarts the other threads if they die.

[2015-06-24 22:12] nuhuxi commented on #661
OK.... how do you kill this thing? Set self_managed to false?

hey BTW - redirected the port to port 80. If you want to see the behavior
go to 54.153.86.83. I redirected port 80 to port 3000. I get the same
behavior. Can find setup.js or pb.png.

Mark

On Wed, Jun 24, 2015 at 2:21 PM, Mark Baird <notifications@github.com>
wrote:

--
     Mark Keckeis
     480-550-8020

Linked-2 Consulting

[2015-06-24 22:24] markbaird commented on #661
It looks like you still have port 3000 in your PB config somewhere. It is actually trying to get this URL and failing:  http://54.153.86.84:3000/js/setup.js
So I was wrong about it not using port 3000 for those resources.

When I try to get the resource directly at http://54.153.86.84/js/setup.js that also fails.

[2015-06-24 22:52] nuhuxi commented on #661
Yeah it is actually listening on port 3000 but all requests to port 80 are
redirected to port 80. You can see that if you got to either 54.153.86.84
or 54.153.86.84:3000. You will get the same 'first login' page for PB.

You also get the same error:

Failed to load resource: net::ERR_CONNECTION_TIMED_OUT
http://54.153.86.84:3000/img/pb_logo.png Failed to load resource:
net::ERR_CONNECTION_TIMED_OU

[2015-06-24 22:57] nuhuxi commented on #661
oops all requests to port 80 are redirected to port 3000....

On Wed, Jun 24, 2015 at 3:52 PM, Mark Keckeis <mark.keckeis@gmail.com>
wrote:

--
     Mark Keckeis
     480-550-8020

Linked-2 Consulting

[2015-06-24 23:03] markbaird commented on #661
How are you doing the port forward/redirect? Are you running PencilBlue behind some sort of reverse proxy like HAproxy or Nginx?

[2015-06-24 23:16] nuhuxi commented on #661
I am using this chuck of code which  has worked for me in other instances
like this.

sudo iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 80 -j REDIRECT
--to-port 3000

I don't know the pb code but if you look at what it looking for - it's off
by one directory.... both of these files are in the public directory. The
should have './public/...' in front of them.

On Wed, Jun 24, 2015 at 4:04 P

[2015-06-24 23:40] markbaird commented on #661
Can you try removing the port from your siteRoot setting?

[2015-06-25 00:04] nuhuxi commented on #661
I tried that.... Didnt do anything... Same results. Try it your self... It
is running using forever.... it is not redirected from port 80 at the
moment so you will have to access 54.153.86.83:3000

Sorta weird... At first it says checkPasswordMatch is not defined. Usually
that means that node found at least one script - ran it and there was some
problem with this function which is in a file that i

[2015-06-25 00:09] blakecallens commented on #661
@nuhuxi perhaps at this point you should try a different method of deployment. PB has been deployed on AWS and Elastic Beanstalk, so it's definitely something in your custom setup. I recommend a PaaS, since they're geared for optimized Node.js deployments.

@markbaird thanks for helping out with this!

[2015-06-25 00:18] nuhuxi commented on #661
Blake and Mark - thanks for all of the help.

Best regards,
Mark

On Wed, Jun 24, 2015 at 5:09 PM, Blake Callens <notifications@github.com>
wrote:

--
     Mark Keckeis
     480-550-8020

Linked-2 Consulting

[2015-06-25 16:22] nuhuxi commented on #661
Guys - I have a project and would really like to find a node based cms to
use for it. I appreciate your help yesterday and after a few hours of
tweaking on the installation, I agreed with you that maybe my server was
jacked up in some way and was screwing up the installation. So this morning
I provisioned a brand new AWS Ubuntu 14.04 LTS server. I followed the
instructions on the site installing g

[2015-06-25 16:34] #661 closed

[2015-06-26 10:01] JahlomP opened #664 "Plugin for exporting articles to an xml file or any other format"
Is there a plugin for exporting articles to an xml file or any other format?

[2015-06-26 10:23] brianhyder commented on #664
Not a plug-in but you could easily modify the existing rss endpoint "/feed"
to dump all articles to xml.
On Jun 26, 2015 6:01 AM, "Precious Jahlom Agboado" <notifications@github.com>
wrote:

[2015-06-26 10:25] JahlomP commented on #664
Ok

[2015-06-26 10:25] #664 closed

[2015-06-26 14:14] v3rt1go commented on #615
I agree with PieturP on this. SEO is one of the deciding factors for most of the clients.
I've found a workaround for this, by adding Link as the nav element and manually putting the slug /page/page-name for the link, it has pretty much the behavior I wanted to achieve.

[2015-06-30 14:19] blakecallens commented on #580
Pull request #667 submitted.

[2015-06-30 19:51] blakecallens commented on #467
New pull request in. Using same UI, but now it defaults to latest 10 articles/pages. So, focusing on the element will give you a list of options, right off the bat.

[2015-06-30 19:52] blakecallens commented on #467
Also fixed the tooltip. :)

[2015-06-30 21:30] jeffbski opened #669 "What license is the project? package.json and LICENSE file have different licenses"
What license is the project?

package.json says apache 2

LICENSE file says GPL v3.

I hope that it is supposed to be apache rather than GPL.

Thanks.

[2015-06-30 21:37] brianhyder commented on #669
Thank you for reporting the mismatch.  The package.json file has been updated to reflect the correct licensing: GPL V3

[2015-06-30 21:37] #669 closed

[2015-07-01 18:58] rainabba commented on #517
I'm playing with an idea and this question leads me to think that in theory, I can assign different themes to different routes and that's what the OP is trying to do, but having trouble with. Correct? Should it be possible? If so, what is the proper mechanism?

I'm looking for a a fairly clean way to dynamically switch the theme based on the hostname (ideally, route as a fallback) used to access t

[2015-07-01 19:01] #467 closed

[2015-07-01 20:01] brianhyder commented on #517
Spoiler alert: multi-tenancy will be in beta in a few weeks :)

[2015-07-01 21:29] rainabba commented on #517
@brianhyder I've got an email with Blake where we briefly touched base Aug 6th of last year. Hard to believe it's been that long, but things have progressed and I'm pretty much at the point of no return on a project where I'd like to use PencilBlue and this would be a key feature. I have a couple other questions before diving in and I'm wondering if you've got a paid-support option (or if we could

[2015-07-02 11:53] brianhyder commented on #580
@blakecallens We are good to close out this issue correct?

[2015-07-02 13:30] silverelizard opened #670 "Plugin Dependencies in Details.json not Installing"
Not sure when this started failing, but if you add dependencies in the plugin details.json, they are no longer being installed on plugin install.

[2015-07-02 13:36] blakecallens commented on #670
Has this been confirmed in vanilla PB or in your branch?

[2015-07-02 13:44] silverelizard commented on #670
?I have a vanilla PB branch I have been working against for another project. Initially the other team ran into it with their special branch, and I thought it was them, but my PB distro did it too last evening. I can pull another fresh one to double check, but it appears so.

Corrine E Olson
SE III | TN Job Board
770.576.3067
corrine.olson@careerbuilder.com<mailto:corrine.olson@careerbuilder.com>
C

[2015-07-02 16:03] brianhyder commented on #670
Couple of quick questions:
Can you send us the console output  on silly?
What command service broker are you using?
What plug in are you attempting to install?
Does it happen when trying to install the wp import plug in?
On Jul 2, 2015 9:44 AM, "Corrine Olson" <notifications@github.com> wrote:

[2015-07-02 19:17] blakecallens commented on #580
Yup!

[2015-07-02 19:17] #580 closed

[2015-07-02 20:51] ogrotten opened #671 "gyp and node-pre-gyp erroring during initial installation"
Install appears to complete, but with significant errors from gyp and node-pre-gyp. Here's the [install log](https://gist.github.com/ogrotten/c7144f35fd7c8c3caf11).

Same string is the result whether I do npm or manual install. I've done nothing to try to fix it as I'm just wanted to try out PB on for size.

node versions, node-gyp  2.0.1, node-pre-gyp 0.6.7
pencilblue versions are different older

[2015-07-03 14:22] brianhyder commented on #671
Hey,

  We've never tried to run in a vagrant container before.  Not to say other haven't had success but I personally haven't experimented with it.

It appears from your output that you are running Node 0.10.38.

Recommendations:
Delete node_modules directory for installation
Upgrade to Node.js 0.12.x
Re-run ```npm install```

[2015-07-04 01:39] silne30 opened #672 "The quickstart guide has old commands"
The quickstart guide has the install command for PencilBlue as `pbctrl install [directory]` but should be `pencilblue install [directory]`. Nothing major but good for consistency.

[2015-07-05 23:43] rainabba opened #676 "Can't install plugins, stuck in loop"
I was experimenting with my own theme plugin and at some point, lost the ability to install even the default "Portfolio" plugin. The page UI hangs at 25%. With logging set to silly, I can see a loop (see below). In the DB, I see corresponding Jobs, but they stay at status=RUNNING, progress=25. If I navigate to a new page, the loop stops. This can be seen in the logging below.

I am running complet

[2015-07-05 23:53] rainabba commented on #676
A completely clean DB with the exact same code (after setup of course) installs as expected so apparently the code is hung-up on some condition represented in the DB.

I cleaned up job_log and job_run as well as plugin and plugin_settings (on the original db), restarted and tried again. Same behavior.

[2015-07-06 00:03] rainabba commented on #676
Just cleaned out everything else I could save for user, system.indexes, server_registry and the content-specific collections and tried again. This time it succeeded.

Going to close, but it seems there is an unhanded situation. I'll test even more carefully if it happens again.

[2015-07-06 00:06] brianhyder commented on #676
Hey @rainabba, can you look for output that looks similar to the below and send it to us?  The output you provided is just the UI polling for changes.  It will continue to do so until the installation times out or it completes.

[code]

The output should show us how far you are getting through the process.  We need to narrow down where it is hanging.

Questions:
* does your plugin declare dependen

[2015-07-06 00:07] brianhyder commented on #676
Ah, glad you got it working.  If you run into again let us know.

[2015-07-06 00:07] rainabba commented on #676
Just tried to uninstall the Portfolio theme (which I was using to test the issue for plugin-install) and am seeing the same loop. The uninstall UI reports the test below (block 1). The sillyoutput is in block 2.

When I navigated back to the page, the plugin shows as uninstalled.Trying to install again resulted in the same loop so apparently that's how to replicate the issue.

#Uninstall UI output

[2015-07-06 00:11] rainabba commented on #676
Going to try and find the DB document that will let me repeat and I'll try to grab that output you requested. I see hints of it, but I suspect the Portfolio plugin doesn't have an much log output. Also, I'm not trying to install my own plugin since I posted this issue. I've been using the Portfolio plugin for testing.

[2015-07-06 00:26] rainabba commented on #676
While in the state where install fails, if I try to install, the log output is {see block #1}

I haven't been able to replicate the workaround by clearing documents in the DB. Have to call it for now and I'm back at the state where Portfolio doesn't show as installed and refuses to install.

[code]

[2015-07-06 19:15] kylebechtel77 opened #677 "Latest installed plugins localization file takes precedence over active theme"
There are several plugins that have some localized fields that have the same key e.g. 404_error (located in their localization/en-us.json file). I would expect pencilblue to use the active themes localization files, or use the localization files from the plugin that the page's route belongs to, but it does not. Instead, it takes the latest one it comes to in the list of installed plugins.

To repl

[2015-07-07 07:11] vuvojunior commented on #597
Hi @brianhyder
I got the same issue . and here are the stack trace.
[code]
Steps to reproduce
* Install pencilblue
* Install MediaS3 plugin
* Restart pencliblue.
Penciblue will get above stack trace at first accessing. next time it works fine

[2015-07-07 14:37] btidwell opened #678 "0.4.1 Wysiwyg Failures"
Taking a look at 0.4.1, the new Wysiwyg appears to be affecting Email Settings and Portfolio's page_form.  Looks like the entire html response gets cut short at label "Verification content" on the email settings page.

[2015-07-07 15:08] blakecallens commented on #678
Yes, I forgot to update that page to the new schema.

[2015-07-07 20:25] blakecallens commented on #676
I walked through this with @rainabba yesterday and was unable to reproduce. It might be a Node version issue, because I was running 0.12.something and he's running 0.10.something.

[2015-07-07 21:11] #678 closed

[2015-07-07 21:12] brianhyder commented on #671
@ogrotten Did you have any success?

[2015-07-09 07:14] ticidesign opened #681 "ReferenceError: localizationLanguage is not defined"
I'm creating a new template and in my new controller, this line is not working.

self.ts.registerLocal('meta_lang', localizationLanguage);

This is the error I get everytime I restart my application:
ReferenceError: localizationLanguage is not defined
    at /Users/andradet/development/au.com.uniting/plugins/uniting/controllers/index.js:172:54

Where can I define this?

[2015-07-09 10:50] brianhyder commented on #681
@ticidesign This is an old relic of an earlier version of PB.  We recently went through and cleanup up the remaining references to the global variable ```localizationLanguage```.  It referred to the default language for the system.

Moving forward, the default language is configurable via the config.js or it will default back to ```en-US```.

To correct the issue please replace the erroring line w

[2015-07-09 10:53] brianhyder commented on #670
@silverelizard Can you provide an update on this?

[2015-07-09 10:54] #509 closed

[2015-07-09 12:30] silverelizard commented on #670
?I'm sorry, I was pulled on to another project with a nasty deadline. I can try and test this tonight after work.

Corrine E Olson
SE III | TN Job Board
770.576.3067
corrine.olson@careerbuilder.com<mailto:corrine.olson@careerbuilder.com>
CareerBuilder.com
________________________________
From: Brian <notifications@github.com>
Sent: Thursday, July 9, 2015 6:53 AM
To: pencilblue/pencilblue
Cc: Corri

[2015-07-09 12:31] brianhyder commented on #670
No worries. Thank you for the quick feedback.
On Jul 9, 2015 8:30 AM, "Corrine Olson" <notifications@github.com> wrote:

[2015-07-09 13:02] cchatham commented on #670
Trying to reproduce Corrine's issue, my plugin install actually errors out completely on the details.json. We are testing using the open source twitter plugin Corrine created: https://github.com/cbdr/pencilblue_twitter

Logs on Silly:
--------------------

9 Jul 08:57:00 - [33m[nodemon] v1.3.7[39m
9 Jul 08:57:00 - [33m[nodemon] to restart at any time, enter `rs`[39m
9 Jul 08:57:00 - [33m[node

[2015-07-09 14:37] janpetras opened #682 "Add custom dates to each article"
The articles have a published date. What I'd like to do is to have several custom dates instead (4 or 5). What sort of changes would I need to do to achieve this?

[2015-07-10 11:43] brianhyder commented on #682
A good place to start would be to look at the portfolio plugin.  It adds a field to the page form.  The approach would be almost identical to adding a field to the article form.

https://github.com/pencilblue/pencilblue/blob/master/plugins/portfolio/templates/admin/content/pages/page_form.html
https://github.com/pencilblue/pencilblue/blob/master/plugins/portfolio/templates/angular/admin/content/pa

[2015-07-10 11:45] #671 closed

[2015-07-10 11:54] brianhyder commented on #672
Thanks for reporting.  Both should work on a Linux based system.  We moved to ```pbctrl``` because it was causing collisions on Windows systems.  The pencilblue.js file was being recognized as an executable rather than falling back to a registered command on the path.

Was there a particular place in the guide where ```pencilblue``` was referenced?  I was hoping I caught them all.

[2015-07-11 21:24] jsEklund opened #683 "Different articles, same headline"
As I tested Pencilblue I run into an article bug. As far as I see, it is not possible to save another article with the same headline.

I get the following error: "There was an error saving".

After I change to a headline not in use, it works. Of course i have used different URL's :)

---
Version in use: v0.4.0
Node: v0.12.2

[2015-07-11 23:03] brianhyder commented on #683
Duplicates #653

@jsEklund Thank you for the feature request.  We have gotten this request before and are considering changing the behavior in a later version.  Before we make a decision one way or the other we'd like to get the use cases from our users to validate the need.  If you could post your use case(s) on issue #653 it would be greatly appreciated.

Thanks!

[2015-07-11 23:03] #683 closed

[2015-07-13 10:23] vuvojunior commented on #597
A captured log from my server

2015-07-13T10:21:33.567142+00:00 app[web.1]: 2015-07-13T10:21:33.566Z - error: [1] RequestHandler: An error occurred during controller execution. URL=[GET:/] ROUTE={"path":"","pattern":"^/[/]{0,1}$","path_vars":{},"expression":{},"themes":{"pencilblue":{"GET":{"method":"GET","path":"/","access_level":0,"auth_required":false,"content_type":"text/html"}}}}
2015-07-13T1

[2015-07-13 16:42] brianhyder commented on #597
Thank you for the additional information.  Would you mind also providing the following information?

* The environment you are deploying to (heroku, local, linux, windows, etc).
* Your config.js minus any credentials
* Are you working off of master or a different tag?
* Node.js version of the deployment environment

[2015-07-13 22:13] brianhyder commented on #597
I haven't had a chance to prove it but what I think is happening is that your free heroku dyno is going to sleep.  When it sleeps I'm guessing that the VM or container it is running in dies.  When this happens the plugin dependencies for the S3 or dropbox plugins, that were downloaded, are wiped out.

When traffic hits the container the application restarts.  The startup sequence starts the server

[2015-07-14 07:27] ticidesign opened #686 "rs command not working"
I'm building a new theme and after start the app using pbctrl start I can't restart the app using the command line rs as it is in the tutorial. Is there another command? is there another way to restart the local app without the need to close my terminal and open a new tab?

[2015-07-14 10:02] vuvojunior commented on #597
ok, let do with our theory and see next few days

[2015-07-14 10:20] JahlomP commented on #597
@brianhyder if the theory proofs right, will the solution to the problem be added to pencilblue itself?
hope you understand.

[2015-07-14 10:41] brianhyder commented on #597
Yes, if you can test it, find that it works, and submit a pull request into
0.4.1 we will merge it.
 On Jul 14, 2015 6:20 AM, "Precious Jahlom Agboado" <
notifications@github.com> wrote:

[2015-07-14 11:28] blakecallens commented on #686
Do you have nodemon installed?
On Jul 14, 2015 3:27 AM, "Ticiana" <notifications@github.com> wrote:

[2015-07-14 19:45] lukasfrei commented on #681
had the same problem. replaced as you suggested and it works perfectly now!

[2015-07-14 20:29] #681 closed

[2015-07-14 20:31] blakecallens commented on #682
A way to make this work without having to alter the article interface would be to create a custom object that contains the date fields and a peer object of the article type. Then you could add the dates and associate them with the article.

[2015-07-14 23:34] ticidesign commented on #686
Yes

[2015-07-15 04:46] seenya opened #687 "Feature Request: Passport plugin"
Hello,

This is a feature request, not an issue.

Do you have anyone who is starting work on a passport plugin for oath to twitter/google/facebook/etc.?
If not, are there any pointers you would hand to someone who is new to pencilblue development? I have already watched the "Let's Build a Theme for PencilBlue' youtube video.

As background, I am evaluating pencilblue for a 2 sided marketplace and

[2015-07-15 18:52] blakecallens commented on #686
If you have forever installed too, then that'll take precedence. You can always directly run nodemon (it's usually what I do). Just cd to the install directory and run:

[code]

[2015-07-17 06:09] ticidesign commented on #392
Did you know how to add a robots.txt (root directory)? I couldn't find anything about this topic in the documentation.

[2015-07-18 19:14] brianhyder commented on #392
There is not a built in way to provide a robots.txt file.  The suggested way to do it would be to create a controller that registers the route ```/robots.txt``` and provides the response that way.  The controller can either read in an actual robots.txt file and pipe it out as the response or it can provide some hard coded values.

[2015-07-18 20:17] brianhyder commented on #686
The launcher does not pass standard input  (stdin) to the child process instance of nodemon that it creates.  There is no special reason to use the command line tool to start pencilblue.  The most convenient way is as Blake mentioned.  Simply run the command, ```nodemon``` or ```nodemon pencilblue.js``` from the root of the pencilblue installation directory and everything should start and provide

[2015-07-18 20:17] #686 closed

[2015-07-18 20:18] brianhyder commented on #337
Discussed internally.  We'll be looking for a documentation solution in the long term to replace the dead yuidoc project.

[2015-07-18 20:18] #337 closed

[2015-07-18 20:18] #672 closed

[2015-07-18 20:27] danielrvt opened #688 "Allow Custom Objects instances to be created without a "name" field"
Right now, every time I create a new Custom Object instance, a "name" field is required. Not only that, but this "name" field has a unique restriction, very annoying. What if a lot of people have the same name? I certainly want to be able to create a "Person" Custom Object, and there is a chance a lot of instances share the same name.

It would be extremely nice if we could create Custom Objects w

[2015-07-19 01:53] github-ptaylor opened #690 "Standalone template of new article published overrides default theme chosen for CMS"
Hello

You can re-create the issue by doing this:

1. install multiple themes
2. add a new article (blog should have a minimum of two articles); choose a template for the article that is different than the chosen theme in (Plugins --> Themes).
3. reload the main page of your CMS

You should see that the main page takes on the theme of the standalone template of the new article.

Patrick

[2015-07-19 06:45] klavs commented on #688
I also have the same need. I am looking to define a list of members of a group (website dedicated to a certain group). In my case, I am exploring a possibility to define them as regular users, but the alternative would be to use Custom Objects, which contain this "name". It is definetily not something I could give to site manager to handle. I couldn't explain to her/him why there is a name field w

[2015-07-19 11:54] brianhyder commented on #690
Confirmed, thank you for reporting.  Looking into it.

[2015-07-19 13:00] #690 closed

[2015-07-22 13:03] JuniorHaxe commented on #40
I am pretty much on zero day with the Pencil Blue source. But, I would think PB would better off to embrace the 'node way' of doing things and support some sort of NPM package and private and public repository system, and even configuration state rollback.

[2015-07-22 13:11] JuniorHaxe opened #695 "PencilBlue Patterns Series"
PencilBlue Team, I am beginning a PencilBlue Patterns Series to document my journey exploring the source of PencilBlue and comparing it to WordPress. I will be rolling out a few demo projects using the platform.

In these series, I would like to:

* Develop custom themes and support themes with configurable options for the end-user (much like the WordPress customizer framework)
* Compare and contr

[2015-07-22 21:10] JahlomP commented on #695
Hi, I am around if you need me.

On Wed, Jul 22, 2015 at 1:11 PM Junior Haxe <notifications@github.com>
wrote:

--
Best Rregards,
Precious Jahlom Agboado,
NibbleIT,
www.twitter.com/jahlomp
+233 54 0915 108.

[2015-07-23 12:57] rohitkumargupta commented on #486
I have a problem with install plugin . I remove plugin by mistake after that i cannot install plugin

2015-07-23T12:47:09.236Z:[1] INSTALL_PLUGIN_my_theme: Verifying that plugin my_theme is not already installed
2015-07-23T12:47:09.269Z:[1] IS_AVAILABLE_my_theme: Updating job [cc7052f5-6c4b-4ff2-87d3-b9359ff0e5c9:IS_AVAILABLE_my_theme] by 0 percent with status:
2015-07-23T12:47:09.368Z:[1] IS_AVAI

[2015-07-23 14:18] brianhyder commented on #486
Hey, happy to help but will need a bit more information.

To help us quickly identify issues the following information is helpful:
Step by step instructions to reproduce
Configuration overrides (minus any credentials)
Environment details: Linux, windows, hosting provider, local, etc.
Log output. Set your logging.level configuration property to "silly".

[2015-07-23 14:22] brianhyder commented on #695
@JuniorHaxe We try to keep the tutorials up to date but the videos are probably a bit behind the most efficient way to do certain things.  With each release we update the "sample" plugin to use the latest techniques.  I would use that as a the best source of information.  Aside from that diving into the code that drives each of the areas you would like to compare is best.  We strive to ensure that

[2015-07-24 09:38] JahlomP opened #697 "Feature Request: Add onResume() state to the lifecycle"
Hi @blakecallens @brianhyder
Lets say one is developing a plugin with no need of controllers. Flags needed in the plugin will have to be registered globally on startup for it to be available everywhere in the site.

Currently, if the user pulls a value from the plugin settings to be used as the value for this flag, any update made to the settings at runtime do not reflect since the flag was regist

[2015-07-24 09:44] JahlomP commented on #697
Sorry. I guess onStartup achieves what i am looking for.

[2015-07-24 09:44] #697 closed

[2015-07-25 15:22] JahlomP opened #698 "PB Plugin Organization"
Hello guys,
I started an initiative I wanted to let you know about and seek for your support.

I have created a GitHub Organization called PB Plugins (https://github.com/pbplugins). My intentions is to have a place where we have opensource PencilBlue plugins. With this any time we have a project we can just go there if a feature we need has been implemented so we don't reinvent the wheel.

This wi

[2015-07-28 13:19] cchatham opened #700 "Can not add page. The form is incomplete."
Fresh install of pencilblue. I try to add a page and I get "the form is incomplete." I have all the forms filled out. I have a sneaking suspicion that the new WYSIWYG is not passing in 'page_layout' in the form data. The error is thrown in actions/admin/content/pages/new_page.js  line 44 which is after it checks for required params.

[2015-07-28 13:26] blakecallens commented on #700
Just added a page on a fresh install. Is this vanilla 0.4.1 you're seeing the issue on?

[2015-07-28 13:29] blakecallens commented on #698
Please use the issues section for bugs and other issues.

[2015-07-28 13:29] #698 closed

[2015-07-28 13:29] cchatham commented on #700
I cloned master and ran. I am reusing a database but there aren't any pages in there or any of our stuff.

[2015-07-28 13:30] blakecallens commented on #688
We'll look into what it'll take to make this change.

[2015-07-28 13:30] blakecallens commented on #687
OAuth integration is part of our roadmap for Q4/Q1 2015.

[2015-07-28 13:31] #695 closed

[2015-07-28 13:31] cchatham commented on #700
Logs on silly:

28 Jul 09:30:48 - [33m[nodemon] v1.3.8[39m
28 Jul 09:30:48 - [33m[nodemon] to restart at any time, enter `rs`[39m
28 Jul 09:30:48 - [33m[nodemon] watching: *.*[39m
28 Jul 09:30:48 - [32m[nodemon] starting `node ./pencilblue.js`[39m
Override file [/Users/cchatham/repos/pencilblue/config.js] will be applied.
2015-07-28T13:30:48.573Z - info: [M] SystemStartup: Log Level is: si

[2015-07-28 13:32] cchatham commented on #700
![image](https://cloud.githubusercontent.com/assets/4976408/8932495/8f5a7fd8-350b-11e5-9d9e-b9b923976f2d.png)

[2015-07-28 13:43] cchatham commented on #700
This is what sent over the wire. Notice the content from the WYSIWYG is not there :(
author: "559e6ed5fc9564ef59afa7ab"
draft: 0
headline: "headline"
meta_keywords: ""
page_media: []
page_topics: []
publish_date: 1438090920000
subheading: "fkdlsjkfle"
url: "apage"

[2015-07-28 13:46] cchatham commented on #700
AH HAH! Found the issue. Apparently you have to use Bower ;). Must be an angular backward compatibility issue. Is it noted somewhere that angular should be a certain level? Maybe I'm blind ;)

[2015-07-28 14:06] blakecallens commented on #700
Still not able to reproduce. Used both CDN and Bower libraries. Is there anything coming up in the browser's JS console?

[2015-07-28 14:22] cchatham commented on #700
And now I can't reproduce it. Maybe something got cached weird? I apologize for the spam this morning. I will let you know if we see it again.

[2015-07-28 14:26] blakecallens commented on #700
No worries. Let's leave this open for a few days, just in case.

[2015-07-28 14:48] markbaird commented on #700
I had a similar issue trying to edit articles after upgrading to 0.4.1 this weekend. I switched from CDN to Bower and then back to CDN and it cleared up. Maybe it's using older versions of the javascript libraries until you touch those settings in the admin?

[2015-07-28 19:20] blakecallens commented on #700
That would make sense for an upgrade, because the DB had your library setting for the previous version. A fresh install uses the same CDN defaults you clicked back to, though. I'm still not sure what would cause an issue in that instance.

[2015-07-28 19:21] blakecallens commented on #700
Regardless, we'll add a note to future versions to reset CDN defaults in an upgrade. Thanks for the heads up.

[2015-08-06 14:26] #700 closed

[2015-08-06 14:27] #682 closed

[2015-08-06 14:28] #676 closed

[2015-08-06 14:28] blakecallens commented on #670
This was confirmed as an environment error.

[2015-08-06 14:28] #670 closed

[2015-08-06 20:34] bambamx opened #705 "Display all the articles by topic"
Whats the proper way to render all the articles that are tagged with the topic News inside a plugin with in a single page using the infinite scroll feature?

I tried with a simple $.get 'api/content/get_articles?topic=News' but I got 0 matches, theres anything built in to do this with angular?

Thanks

[2015-08-06 22:05] #705 closed

[2015-08-07 19:56] JuniorHaxe commented on #695
@brianhyder @JahlomP Thanks for your responses. This project is now in progress and possibly funded.

[2015-08-07 20:12] bambamx commented on #609
Is this thing fixed? i'm facing the same issue here

[2015-08-07 21:42] JahlomP commented on #695
No P

On Fri, Aug 7, 2015 at 7:56 PM Junior Haxe <notifications@github.com> wrote:

--
Best Rregards,
Precious Jahlom Agboado,
www.twitter.com/jahlomp
+233 54 0915 108.

[2015-08-07 22:18] brianhyder commented on #695
:+1:

[2015-08-08 17:10] blakecallens commented on #609
It should be fixed in 0.4.1

On Fri, Aug 7, 2015 at 4:12 PM, Rodrigo Montaño <notifications@github.com>
wrote:

[2015-08-10 12:10] nafem commented on #144
Is there any view on when this will be implemented?

[2015-08-10 12:29] brianhyder commented on #144
We are shooting for forth quarter of this year but it will be close.
On Aug 10, 2015 8:10 AM, "nafem" <notifications@github.com> wrote:

[2015-08-11 15:53] v3rt1go opened #708 "Having a template element named media gets that element rendered instead of images"
I'm working on a custom pencilblue theme, and I have one .html file under /plugin/<name>/templates/elements named media.html

I use ^tmp_elements=media^ to render this element on a page.
I've created an article that was using another layout file (not index.html which contains ^tmp_elements=media^). When adding content for the article from /admin I've associated a couple of media items with that ar

[2015-08-12 12:57] danielrvt opened #710 "Allow to upload images directly in the Custom Object section"
When a custom object has an image, one has to pick the image from the Media previously uploaded. It would be very nice to have an option to Upload a media from the Custom Object image field directly when creating a new object or editing an existing one.

[2015-08-12 13:09] blakecallens commented on #710
I'm all for this. We could add something [here](https://github.com/pencilblue/pencilblue/blob/master/plugins/pencilblue/templates/admin/content/objects/object_form.html#L41) that checks to see if a peer object is of the media type and appends the select element with the upload_and_link_photo element.

@danielrvt, would you be willing to help us with that?

[2015-08-12 13:12] blakecallens commented on #708
We'll take a look and see if we can reproduce, but in the meantime I would suggest changing the name of your element as a workaround, if you haven't already.

[2015-08-12 13:18] v3rt1go commented on #708
Hi Blake,

Thanks for your reply. Indeed I've renamed my element and the problem was gone.
Please let me know if you want me to send you some code or more details on how to reproduce the issue.

Meantime I've been working on a plugin that can make use of this "bug"/"feature", something on the lines of a template builder :)

Cheers!

[2015-08-12 15:03] brianhyder commented on #708
If you wouldn't mind sending us the steps to reproduce we would greatly appreciate it.  The behavior you are describing appears to be what is expected.

We do that so that themes do not have to override all templates in order to change how a common piece of the application is rendered.

In your particular case what is happening is that editor only relies on the media renderers to generate the prev

[2015-08-13 10:29] danielrvt commented on #710
Hi Bryan, yes, I can do it.

[2015-08-13 10:57] TriHasmoro opened #713 "wysiwygElement error"
Found errors while creating or editing Content::Pages and Content::Article (both containing wysiwygElement) in Admin Panel. Firefox 39.0.3

wysiwyg.js (line 82): return $document[0].queryCommandState(type)
[Exception... "Unexpected error"  nsresult: "0x8000ffff (NS_ERROR_UNEXPECTED)"  location: "JS frame :: http://localhost:8080/js/angular/directives/wysiwyg.js :: .link/scope.isFormatActive :: lin

[2015-08-13 11:51] blakecallens commented on #713
Can you give us steps to reproduce? You're the first to report this type of error. Thanks.

[2015-08-13 12:27] TriHasmoro commented on #713
Did the fresh install and tried the wysiwyg editor in the admin panel (articles and pages).
I can't delete (it's "backspace" in a non Mac) the text written in the editor and after looking into firebug i found the errors above.

After updating the firefox to version 40.0 on my Yosemite, the error messages are gone, but the symptom (the text can not be deleted) remains.

[2015-08-14 13:35] blakecallens commented on #713
The issue with the errors was a Firefox bug with supporting queryCommandValue and queryCommandState. Recommended action is for users to upgrade to the latest version of Firefox.

Looking into the backspace issue.

[2015-08-14 14:05] blakecallens commented on #713
Bug has to do with rangy and Firefox. Looking into it.

[2015-08-14 14:15] blakecallens commented on #713
@TriHasmoro please give branch [PB713](https://github.com/pencilblue/pencilblue/tree/PB713) a run and let me know if backspace is working for you. Thanks.

[2015-08-15 05:23] TriHasmoro commented on #713
Great, now it's working! Good job, mate.
Thanks

[2015-08-15 08:16] #713 closed

[2015-08-19 06:09] JuniorHaxe opened #716 "Embed.ly Integration Plugin Ideas"
Requirement: when a user associates remote media with an article, I want to run a query against an external API like (e.x. Embed.ly API) to append that media instance with additional meta data. Secondly, when a listing of articles or a single article is displayed, I want to use a custom template decoration (for example to credit the source reference).

Obviously, we will need a custom plugin and t

[2015-08-19 06:14] JuniorHaxe opened #717 "Custom Object Conditional, Related, Dependent, and LifeCycle Fields Plugin Ideas"
Requirement:  I would like to create custom objects with fields dependent on other fields. The would be disabled, enabled, and derived when another field in the custom object is activated.

Example: if users selects external media, the 'used under license' drop down would appear. Or, if I select California, and select list of 'freedoms I view not important' would appear. Is this possible in Pencil

[2015-08-19 06:17] JuniorHaxe opened #718 "RBAC Framework Plugin Ideas"
I am beginning the foundation of an RBAC framework and examples for PencilBlue.

I have an immediate requirement to make certain sections editable only by certain users, or certain access levels. Can anyone offer advice as to how requirements like this are implemented with the current release?

[2015-08-19 14:22] blakecallens commented on #716
For the first one, I think you could pull that off with the BaseObjectService. @brianhyder, does that sound right?

For the second one, you could probably just replace the default media html template with one that has the fields you need.

[2015-08-19 14:27] blakecallens commented on #717
What you're going to want to do here is create your own admin page for this and then use Angular to drive the interface. Take a look at the Portfolio plugin's home page settings page to see how to make a custom admin page. You might also want to create a custom navigation item for this. There's an example in the sample plugin.

You'll then create a custom controller to take the post from your page

[2015-08-19 14:31] JuniorHaxe commented on #717
Roger, that. The custom admin route made this a cake feature to implement.

[2015-08-19 14:31] #717 closed

[2015-08-19 14:39] JuniorHaxe commented on #716
I had thought about overriding and extending the base media type directly, actually. Ideas?

I implemented the screen flow this evening for a more robust catalog manager. Painless in PencilBlue.

[2015-08-19 14:43] blakecallens commented on #718
You can make a plugin that overrides the routes that you need to add additional permissions for and funnel them through a function that checks against your custom permission setup before passing them through to the default controller for that route.

You would do that by using ```util.inherits``` to make your custom route inherit from the default controller and then call that inherited controller

[2015-08-19 14:44] blakecallens commented on #716
@brianhyder can talk to you better than I can about overriding MediaProviders and MediaRenderers.

[2015-08-19 20:26] sganz opened #719 "Article Editor Backspace Problem"
Hi, just loaded up PB on Mint  17.2 (Ubuntu). Trying it out on Firefox 40.0 and when I enter the rich text editor it seems that the back space does not work in WYSI edit mode. When in HTML or Mark Up mode  it seems to work OK.

Sandy

[2015-08-19 20:31] sganz opened #720 "Article Comments User Images"
![screenshot](https://cloud.githubusercontent.com/assets/5179047/9368207/cc562816-4676-11e5-9b44-cb88620a2c39.png)
Ran into this odd one. I had changed my user image prior to making any comments. I then made a comment and the old image showed up. Again, made another comment old image shows, then refreshed the page and now user images are as they should be.  Image shows first two comments then a pa

[2015-08-19 20:42] sganz opened #721 "Depricated Warnings"
Don't want to overload the list of issues, would you find any value in seeing the console warnings that I come across as I play around?

I see things of this nature -

*2015-08-19T20:35:15.812Z - warn: [1] PencilBlue: pb.users is deprecated.  Use new pb.UserService(context) instead 0*

[2015-08-19 21:06] blakecallens commented on #720
This sounds like browser caching. You said everything was fine after a page refresh?

[2015-08-19 21:08] blakecallens commented on #721
These are correct notifications that things in use will soon be deprecated. We'll be changing the core code to the newer functions in the future.

[2015-08-19 21:08] #721 closed

[2015-08-19 21:10] blakecallens commented on #719
This should have been solved with #713. Are you running the latest version of the master branch?

[2015-08-19 22:59] sganz commented on #720
Yes, but as I comment the wrong image is rendered. So the top 2 images are as I was adding comments, the bottom two were a result of the page refresh (they are correct). On a different VM where I was trying it when ever I added a new comment a broken image came up until I refreshed the page.  Are the URL's for the images unique? If so then the page may be generating the wrong url (not sure how the

[2015-08-19 23:03] sganz commented on #719
Yes, I just did a git status and it shows branch is up to date with the Origin/Master. Nothing to pull. 0.4.1 Is the version in the admin.

[2015-08-20 12:21] brianhyder commented on #716
The MediaService doesn't currently extend the base object service so media events are currently not possible to register for.  I do not believe there is going to be an easy way to do this without extending the current MediaService implementation or MediaRenderer implementation.

[2015-08-20 12:27] blakecallens commented on #716
If that's the case, maybe he can override the template that powers the media association drag and drop and add a frontend listener.

[2015-08-20 12:28] brianhyder commented on #718
That sounds about right.  The tricky part (that we haven't accounted for yet) is dynamic role/permission sets.  Plugins must declare permission sets at install time.  You need to have a common function that can inspect a user's roles and permissions.

You would most likely want to override the login controller so you can populate the additional (external roles/permissions) to the session so that y

[2015-08-20 12:31] brianhyder commented on #719
@blakecallens I don't think you ever merged in PB713 (the branch that contained the fix).  The branch still exists.

[2015-08-20 12:32] blakecallens commented on #719
Well, that would be a good reason why it's still broken.

[2015-08-20 12:34] blakecallens commented on #719
Merged

[2015-08-20 12:34] #719 closed

[2015-08-20 14:32] cchatham opened #723 "Enhancement: Site favicon upload similar to site logo"
This is super simple but it would help us scale. Adding a way to upload a favicon on the site logo screen  would be awesome! Having it load from the plugin settings only lets us set it once for all sites instead of once per site.

[2015-08-20 16:05] JuniorHaxe commented on #718
Thanks for the suggestions. As I lack the in depth knowledge of the PB codebase still, I decided to inject a middleware component and build out the custom roles and permissions in a external directory apps. I implemented sections of the admin templates, accordingly. It would be great if we can simply offer an API and plugin into existing providers, as an endpoint to whatever internal solution is r

[2015-08-20 16:07] JuniorHaxe commented on #716
@blakecallens I agree. Clever admin template extension and relationship to custom object will do the trick. Will release as plugin.

[2015-08-20 16:17] JuniorHaxe2 opened #724 "Enhancement [IDEA] - Localization/Dynamic Template Plugin"
Idea: I want to be able to edit localization strings on the backend in the admin area or have templates for pages where the author populates the fields when used.

Ex: The localization service details a listing of all localized strings in use on an install. I as the admin can then create new language versions of my site, with the ability to override or extend any localization template call.

Ex: I

[2015-08-20 16:58] sganz commented on #720
One quick note I look in firebug and after a restart of the VM and everything else I poked around and looked at the image URL's and they are different, so it may be caching something but it's not the browser image it seems, since PB is generating a different URL. So some caching may be going on but might be elsewhere then the browser.

[2015-08-20 21:48] jasonsalzman opened #725 "Portfolio Theme Homepage Settings WYSIWYG element causing angular error on v.0.4.1"
On a fresh install of pencilblue, I sign into the admin and then activate the Portfolio theme included with the repo. Then go to settings>Homepage settings and the page only partially loads (as seen in screenshot below) due to an angular module error. The same exact issue occurs with the [devblog theme](https://github.com/pencilblue/devblog-pencilblue). The error is pretty generic, but you can vie

[2015-08-21 17:05] miguel12345 commented on #553
Hi,

I'm currently using Sequelize as my DAO/ORM and I really need something great for the frontend to manage the content. All the other CMS's out there seem to be completely locked in to Mongo, but this issue gives me some hope to use PencilBlue to managed by postgres-sequelize data.

What is the current status on this? Is it possible to use a custom DAO/ORM without losing hours/days?

[2015-08-24 12:11] #716 closed

[2015-08-24 12:14] brianhyder commented on #720
@sganz Can you tell us a bit about your configuration and environment?  I'm mostly curious about what you are using as the media provider and clustering settings.  Would you mind confirming the behavior in a different browser?

[2015-08-24 12:14] #718 closed

[2015-08-24 15:19] #708 closed

[2015-08-24 15:22] sganz commented on #720
Brian -

The environment starts off with a Win7 machine running a virtualbox with Mint 17.2 on it, and FF 40.0 as the browser. I'll try to get a look in another browser, but having some difficulty connecting to PB outside of the VBox for some reason (other web apps works fine). I might have a config issues with how the node binds to a port or something (new to node so...)

I'm using the out of the

[2015-08-24 15:27] brianhyder commented on #553
@miguel12345 We've never tried to integrate sequelize into the platform so I can't say with confidence how hard it would be.  We know that the project is large.  Most of that reason is due to the fact that Mongo uses "_id" rather than a traditional "id" variable for each document.

Our long term vision is to slowly convert all object interactions into ```BaseObjectService``` implementations to pre

[2015-08-24 15:32] brianhyder commented on #720
Awesome, thank you for the additional info.  I'll be able to try and reproduce this tonight and provide an update tonight or tomorrow morning.

[2015-08-24 15:39] sganz commented on #720
I just tried it on IE from a win 10 box. Seems fine, went back to the VBox host and tried it again, fine.  Changed the icon for my account, added comments in VBox FF browser, fine. Did the same again in the Win10 browser and seems fine.

That all being said this version of the code is the current master that I pulled after the merge that  fixed for the editor backspace issue. Not sure if anything

[2015-08-24 22:51] brianhyder commented on #725
This is confirmed.  @blakecallens I'll try and gather a few more details but can you take a look at this one?  My best guess is that this is wysiwyg related.

[2015-08-24 22:53] brianhyder commented on #720
Glad to see things got resolved.  Happy to help if the issue pops up again.  I'll leave this issue open for a couple of days just in case.

[2015-08-25 13:40] #725 closed

[2015-09-02 13:37] btidwell opened #734 "0.5.0 Error on localize"
We are calling localize "content.content = self.ls.localize([], content, self.hostname);" and are randomly seeing the below error being thrown.  It looks like language is being set to 'en_US' by the 'best()' function of the locale module for some users.  This isn't happening for everyone.

Error: Failed to set a language. LANG='en_US'
at LocalizationModule.Localization.localize (/var/app/current/i

[2015-09-03 18:59] brianhyder commented on #734
Hey,

For the people that are seeing the issue can you verify that their browsers are passing the language header in the expected format of ```en-US```?

We recently updated the casing of the localization files, on 0.5.0, to be named in the proper casing and format as referenced above.  On windows systems file naming is case insensitive.  And when files are renamed in Git the file system does not

[2015-09-04 14:52] btidwell commented on #734
Unfortunately we don't have that kind a visibility in our access logs.  From what we can tell in our nginx and nodejs logs from elastic beanstalk it could be a result of a cloud front request.  We have our site cached on the Amazon Cloud Front CDN.  But we can't be 100% sure as the two logs we are comparing are sort of independent of each other and because of the fact that the page isn't showing a

[2015-09-05 22:49] dennisgermany opened #736 "Cannot create articles anymore"
Hi,
I just updated from 0.4.0 to the latest version from master (0.4.1).
Since then it is not possible anymore to create articles. When going to the "New Article page" I get the following error in Chrome console:

[code]

When clicking the save button I get:

[code]

Thanks!

[2015-09-05 23:02] blakecallens commented on #736
I think if you go to your library settings and reload either your CDN or Bower defaults, everything will work again. If you're using bower then also run another bower install to update.

[2015-09-05 23:10] dennisgermany commented on #736
Hey,

going to Admin->Settings->Libraries and hitting "Use CDNs" solved the problem.
I can create articles again.

Thank you very much for your lightning fast reply.

[2015-09-05 23:10] #736 closed

[2015-09-05 23:14] blakecallens commented on #736
Glad to help. For future reference, for anyone that experiences this issue, we added the rangy library for the new wysiwyg in 0.4.1, so that library needs to be updated in the settings.

[2015-09-06 01:27] kreegr opened #737 "Run under a siteRoot sub-path?"
I'd like to install with siteRoot set to a sub directory under the domain. Trying this I saw issues during setup related to how RequestHandler.doRedirect is working. With location = '/setup' it fails.  Would a simple change to this method resolve the issues with using a sub path, or is this more involved?

[2015-09-07 15:20] brianhyder commented on #737
I'm not sure we've tested it fully across the board so I can't say for certainty if it is just as simple as modifying that one function.  It is definitely a bug on our end that we will look into.

My guess is that the fix is to include a second parameter to determine whether or not to join the location to the site root.

[2015-09-08 15:05] ndcollins opened #738 "MongoDb Replica Set Support"
It does not appear that PencilBlue's MongoDB configuration supports connecting to a MongoDB ReplicaSet. When I try, even if the generated connection string is identical to what I use with MongoChef to successfully connect, PencilBlue gives me an authentication error.

[2015-09-08 21:35] markbaird opened #739 "Issue using new events emitted by BaseObjectService"
I'm working on some plugins to integrate with third party tools and services (CloudFlare and Sendy). I need to be able to make some API calls to those third party services when an article is created or updated. So I created a new plugin and added the following line to the main plugin module:
`BaseObjectService.on('article.' + BaseObjectService.AFTER_SAVE, CloudFlareService.afterSave);`

However my

[2015-09-08 22:12] brianhyder commented on #739
@markbaird can you provide the URL that you are hitting to expect your afterSave function to be called?

My guess is that it is the end-point called when the article is saved from the admin UI.  If this is the case then you are correct.  The afterSave function would not be called.  We haven't yet gotten all of the controllers converted over to utilize the new article service.

Not 100% sure if it

[2015-09-08 22:15] brianhyder commented on #738
@ndcollins Would you be willing to send us an email with your connection info and help you debug it?

[2015-09-08 22:27] markbaird commented on #739
Yes it is the end-point that is called when the article is saved from the admin UI. So basically I'm trying to use a feature that isn't implemented yet.

I'd be interested in helping to implement this feature, given some guidance on how you envisioned it working. It doesn't appear to be as simple as swapping out the ArticleService for the ArticleServiceV2 in the controller.

Thanks

[2015-09-08 22:47] brianhyder commented on #739
We would be thrilled to have the help.

UI:
* Change the URI path to the new API end-point: ```/api/content/articles```
* Ensure the date fields send the values back in ISO format as a string
* Ensure the meta-keywords are sent back as an array of strings
* Update portfolio form to do the same thing

Controllers (new_article.js & edit_article.js):
* Deprecate the controller in the prototype commen

[2015-09-08 23:21] brianhyder commented on #737
@kreegr I took a look at the code today and did a little experimenting.  Here is what I found (current as of 0.4.1):

Site root paths are not currently working.
* The request handler and base controller functions that generate the redirects do not take into account the site root.
* Additionally, there are links in the templates that are not fully qualified and would break even if the routes were c

[2015-09-09 01:04] ndcollins commented on #738
Already sent it on Tuesday to your brian(at) email address with the subject "PencilBlue & Replica Sets"

Sent from my iPhone

On Sep 8, 2015, at 5:15 PM, Brian <notifications@github.com<mailto:notifications@github.com>> wrote:

@ndcollins<https://github.com/ndcollins> Would you be willing to send us an email with your connection info and help you debug it?

-
Reply to this email directly or view i

[2015-09-09 01:05] markbaird commented on #739
I'll work on this. You can assign the issue to me if you want.

[2015-09-09 01:58] blakecallens commented on #739
Awesome! I'll start my reconfiguration work with topics. Let's compare when we're done and set up a standard method.

[2015-09-09 02:30] brianhyder commented on #738
I took a look at the setup this evening.  The driver does not seem to like the connection string.  I was able to create a branch and get an experimental fix in: https://github.com/pencilblue/pencilblue/tree/issue/738

You will need to configure your config.js file's db section like the following:
[code]

[2015-09-09 02:36] brianhyder commented on #738
The driver seems to intermittently complete the authentication and other times fail.  If you get a chance can you see what results you are seeing?

[2015-09-09 03:53] kreegr commented on #737
Great! I will definitely put some time in during the next couple weeks.

[2015-09-09 14:40] meqube opened #740 "Pencilblue does not work in some browsers."
Hello,
I am having some trouble with Pencilblue in some browsers. For example does the save buttons and some other functions not work in Safari (i tested in 8) and Internet Explorer (i tested in IE 9). How can i fix this problem?

**This is the console log error that i get in Safari when i try to go to the "pages" page:**
    Error: undefined is not an object (evaluating 'loc.pages')

[2015-09-09 17:44] blakecallens commented on #739
I took my first pass at Manage Topics today. I decided to go with the original plan for the refactor of moving to factories, but I didn't use ng-resource. It would just be another bower/cdn library that would need to be managed and could break the admin section when people upgrade to 0.5.0.

[Here's a code comparison to 0.5.0](https://github.com/pencilblue/pencilblue/compare/0.5.0...factories). Le

[2015-09-10 12:46] brianhyder commented on #739
@blakecallens I mentioned a couple of weeks ago that there are already APIs in place for Topics, comments, and articles.  Your ```get_topics.js``` file is not needed.

[2015-09-10 13:00] blakecallens commented on #739
I see the topics_api_controller, but it doesn't have any content. What do you expect to be there?

[2015-09-10 13:09] brianhyder commented on #739
The [TopicApiController](https://github.com/pencilblue/pencilblue/blob/0.5.0/plugins/pencilblue/controllers/api/content/topic_api_controller.js) extends from the [BaseApiController](https://github.com/pencilblue/pencilblue/blob/0.5.0/controllers/api/base_api_controller.js).  The base API controller eliminates all of the duplicate code needed for CRUD operations by leveraging the object specific im

[2015-09-10 13:18] blakecallens commented on #739
Ok, updated to the existing controllers.

[2015-09-10 13:28] brianhyder commented on #739
It looks good @blakecallens! Thank you!

Optimizations we need to talk through at some point:
* Passing options to the ```getTopics``` such as limit offset and filters.  The pattern for this is already built into the base API controller we just need to figure out how to handle it on the UI side.
* Returning the paging wrapper back instead of just the data.  To prevent mis-use the new API controlle

[2015-09-10 16:44] Jean-PhilippeD opened #743 "Angular error ni admin plugin settings home page"
Hi,

I'm new to node.js, angular and so pencilblue :)
I've read many docs, watch some good videos of Blake and now ...  I'm stuck !

First, I've just copied portofilio plugin and renamed it.
Then, I've subsitute all portofolio by <myname>.

And It works well when I click on Settings in the plugin home page.

Then I decided to remove things I don't need, I removed media stuff in the controller and

[2015-09-10 20:55] Jean-PhilippeD commented on #743
After digging, I've found angular module was still try to load inline_media (and upload_photo + wysiwyg)...
I've got a lot to learn ...
It's ok for me !

[2015-09-10 20:55] #743 closed

[2015-09-10 21:14] brianhyder commented on #743
Glad you were able to get everything situated. Let us know of you run into
any other issues.
On Sep 10, 2015 4:56 PM, "Jean-PhilippeD" <notifications@github.com> wrote:

[2015-09-11 13:47] blakecallens commented on #740
I confirmed PB running properly in Safari 8.0.3 and IE8 (although we don't officially support IE8). Can you share details on your installation, so we can narrow down what your issue might be?

[2015-09-11 23:58] #739 closed

[2015-09-12 00:00] #720 closed

[2015-09-15 12:21] Jean-PhilippeD opened #744 "Cannot connect to other database"
Hi,

I'm not sure if I'm doing correctly the job, I want to count documents in a database which is not pencilblue's db.

I've tried :

And I still get 0 count.
If I let dbName null or "pencilblue" and I choose a collection which exist, I get the right count.

What am I doing wrong ? Should I use DBManager to iniate connection ??

I'm sorry if it's not the proper place for this kind of question....

[2015-09-15 13:28] brianhyder commented on #744
Happy to help out.  What branch and/or version are you working off of?

[2015-09-15 13:51] brianhyder commented on #744
@Jean-PhilippeD could you also share the ```db``` section from your config.js file?

[2015-09-15 13:53] brianhyder commented on #744
I think the issue is in the DbManager.  It doesn't take into account the name of the db that is passed into the function.  It only takes into account the name that is part of the configuration.

[2015-09-15 13:54] brianhyder commented on #744
Solution will probably along the lines of modifying the piece of code that builds the mongo connection string: https://github.com/pencilblue/pencilblue/blob/master/include/dao/db_manager.js#L74

to accept an override DB name.

[2015-09-15 14:05] Jean-PhilippeD commented on #744
I'm using pencilblue 0.4.1.
My piece of config.js :

When I print with console.log(dao)
I can see {dbname: <my db>} but it doesn't work (I've also tried the method entityExists witout success.)

I will check the db_manager !

[2015-09-15 15:02] Jean-PhilippeD commented on #744
Line 74:

I think whatever the DB Name you give, it builds with name in config.js

I've just added line 73 :

And it seems to work. This is probably not the cleaner way... :)

[2015-09-15 15:28] brianhyder commented on #744
@Jean-PhilippeD Thank you for confirming.  I'll see if I can't clean that up and get it merged in tonight.

[2015-09-15 22:06] evanadams28 opened #745 "Flag naming in Media Loader proposal"
Hey guys,

I was recently tasked with finding a method where we could both let clients upload their own media and reference it in their own templates. Currently, the media service renders to a flag of the structure: `^media_display_{mediaObjectID}/{optionalStyling}^`. This isn't very client-friendly because the object ID has no semantic value. When reading a template no one knows what the media co

[2015-09-16 00:16] brianhyder commented on #745
It hasn't come up in any of our discussions.  We use the GUID because of the uniqueness.  The names and captions are not required to be unique.  This could create potential conflicts.  Our line of thinking is that the majority of the time the user will be generating content through the wysiwyg and will not have to deal with the embedded flag.

Is there a specific issue that you are running into th

[2015-09-16 13:01] evanadams28 commented on #745
No, no specific issues. Just business needs. I'll be taking a different route for a solution to this if you guys aren't changing the structure of things in the upcoming changes. Thanks for the feedback, Brian!

[2015-09-17 01:48] brianhyder commented on #734
@btidwell The localization service refactor has been completed.  Would you all mind keeping an eye out for this after the updates are pulled into your fork to see if this is still an issue?

[2015-09-17 01:49] brianhyder commented on #677
@kylebechtel77 This should have been fixed in the latest merge into 0.5.0.  If you run into issues again please let us know.

[2015-09-17 01:49] #677 closed

[2015-09-17 01:50] #745 closed

[2015-09-17 13:07] brianhyder commented on #744
@Jean-PhilippeD I merged a fix into the 0.5.0 branch.

[2015-09-17 13:07] #744 closed

[2015-09-17 13:09] brianhyder commented on #738
@ndcollins I did a little more testing.  I was able to get it to connect to the replica set that you provided.  The fix was merged into the 0.5.0 branch.  The sample configuration shown below demonstrates how to connect PB to a replica set.

[code]

[2015-09-17 13:09] #738 closed

[2015-09-18 02:01] thcase opened #749 "WSYWIG Editor - Not working for UL List Items"
I am not sure this is an issue with Pencil Blue or the WSYWIG editor you include.  When editing a page in WSYWIG HTML mode and working on a list (bulleted), the editor wants to insert paragraphs between list items and close off the UL element on each item.

Original text:
<ul><li>Ascension Resurrection</li><li>Happy Dragon</li><li>PS/IS 49</li><li>IS 73</li><li>PS 58</li><li>PS/IS 102</li><li>PS 1

[2015-09-18 02:13] blakecallens commented on #749
What operating system and browser are you experiencing this in?

We'll take a look at it.

[2015-09-18 03:07] thcase commented on #749
I am on a Mac OS X 10.10.5 (Yosemite) with Safari 8.0.8.

Thomas Case
thcase@outlook.com

Sent from my phone

[2015-09-18 14:27] #749 closed

[2015-09-18 14:28] blakecallens commented on #749
@thcase you can pull the latest version of master and this will be fixed. Thanks for the catch!

[2015-09-18 14:28] #740 closed

[2015-09-18 16:00] thcase commented on #749
This fixed the issue.  Editing appears to act as expected now.  Thank you very much for great turn around.  I was also able to figure out how to fetch and merge using git and keep my other changes.

[2015-09-21 13:02] cchatham opened #754 "Redis Connections on constant increase"
Hey guys!

We are seeing a constant increase of connections with Redis that eventually causes our app servers to fail (in AWS). I wanted to see if anyone else had seen this issue.

We are looking into a fix but any help would be appreciated. Thanks!

[2015-09-21 13:15] brianhyder commented on #754
Thanks for reporting.  It is possible to create your own cache connections however the way it is setup the connection should be shared: https://github.com/pencilblue/pencilblue/blob/0.5.0/include/dao/cache.js#L47

I would look to see where the "getInstance" and "createInstance" functions are being called.  The code that uses it should be isolated to the instances of cache_entity_service, session s

[2015-09-21 16:02] cchatham commented on #754
Hey Brian!

We only leverage redis for session that we know of and we call it by using pb.cache in our custom code.

We managed to get a list of all the clients connected to redis at a moment in time. I removed the IPs for security reason, but if you look at the idle seconds, it's very curious. I am also including our average connections over the past day to so the increasing issue we are seeing.

[2015-09-21 16:11] brianhyder commented on #754
Thanks for the additional info. Can you confirm what command broker
implementation you are using? I'd also like to get the time frame from the
log snippet you sent. I wouldn't expect that many "subscribes" unless you
have that many workers. The subscribe command is used to listen for
commands and jobs from other members of the cluster.
On Sep 21, 2015 12:02 PM, "cchatham" <notifications@github.com

[2015-09-21 18:35] cchatham commented on #754
We are definitely using the default RedisCommandBroker. We have 2 workers running according to our global home view. The time frame for the client list was around 11:30am this morning EST.

[2015-09-21 20:41] brianhyder commented on #754
It is weird why it would be spawning so many new connections.  The node redis package was updated today, coincidentally enough [v2](https://github.com/NodeRedis/node_redis/releases/tag/v.2.0.0) was released.  I'll update it tonight and play with it to see if I can get the connection count to rise.  There are also a few options we can tweak to optimize the connection.

[2015-09-21 20:52] cchatham commented on #754
So it looks like when AWS Beanstalk spins down servers the connections still survive. I did the client list command again and it returned a lot of IPs that are no longer on servers. So either quit is not getting called when it is supposed to or Beanstalk isn't letting us clean up...

[2015-09-21 20:57] brianhyder commented on #754
Interesting.  There should be log statements (not sure what log level has to be active) that say XYZ shutting down.  It could either be that the instance isn't signaling properly or that PB isn't catching signals appropriately.  I'll try and double check that tonight.  Now that we know it isn't the driver I'll hold off on the upgrade so we don't introduce another variable.

[2015-09-21 20:57] brianhyder commented on #754
Thanks again for additional information.  It is extremely helpful.

[2015-09-21 21:00] cchatham commented on #754
Still not 100% sure it isn't the driver...

Let me know if you want more information. We are racking our brains over here. The code looks solid. We may need a timeout on the redis server side? Lots of possibilities!!!

[2015-09-22 02:15] brianhyder opened #755 "Shutdown Hooks are not Called When Process is Signaled"
During the 0.4.1 refactor the shutdown hooks were not plugged back into the wire-up.  This corrects that issue by ensuring that when the system starts it registers for the sig-int, sig-term, and unexpected errors to be caught and handled.

[2015-09-22 02:23] #755 closed

[2015-09-22 02:27] brianhyder commented on #754
OK, I took a look at the code tonight.  There was an issue with the platform responding appropriately to process signals (#755).  That has been resolved and merged into 0.5.0.  Hopefully, at a minimum, it will eliminate one variable.

Are y'all using ElastiCache or true redis instances?  I've seen instances where TCP connections are kept alive in an ELB but are actually dead.  It just seems weird

[2015-09-22 13:08] cchatham commented on #754
Yea we are using redis via Elasticache. We will update our fork and see if that helps. Next step we want to try is updating the driver because we are running out of ideas and I don't want to put a timeout on our connections.

[2015-09-22 13:10] brianhyder commented on #754
Sounds like a plan.  The release notes for the latest version of the driver are pretty good.  The maintainer outlines the breaking changes and other modifications to defaults.  One of which is connection timeout iirc.

[2015-09-22 13:47] btidwell commented on #754
FYI, I just merged the latest from 0.5.0 and noticed all of the localizations missing specific to site management and global plugins.

[2015-09-22 14:40] brianhyder commented on #754
Yup, you are correct. I botched the merge.  I'll get that corrected this evening.  My apologies.

[2015-09-22 15:33] Jean-PhilippeD opened #758 "no metho update on when batch.update(item) in dao.saveBatch"
Hello,

While trying to use saveBatch method on DAO, I get this error

line 461 on dao.js:

Everything works fine when I insert, but doesn't work with update.
When I print the item before the saveBatch, here what I see :

TypeError: Object [object Object] has no method 'update'

[2015-09-22 16:19] brianhyder commented on #758
@Jean-PhilippeD Thanks for reporting.  My guess is that this is a breaking change from when we updated the driver a few months back.  If you have a minute would you mind trying to modify the DAO file to mimic the way the update piece works in this example:
http://mongodb.github.io/node-mongodb-native/2.0/api/Collection.html#initializeUnorderedBulkOp

[2015-09-22 17:55] radiovisual opened #759 "Error: Cannot find module 'async'"
I just tried installing PencilBlue for the very first time. I followed the instructions line-by-line to get things working on my Mac, and I was greeted with this error:

[code]

Has this happened before? I tried running `npm install` thinking maybe I needed to load the dependencies, but that didn't work either (nor was it in the setup instructions).

When I ran `npm install` from my PencilBlue dir

[2015-09-22 18:00] blakecallens commented on #759
Looks like npm doesn't have write access. [Here's instructions on fixing that](https://docs.npmjs.com/getting-started/fixing-npm-permissions).

[2015-09-22 18:50] radiovisual commented on #759
npm has proper write access everywhere else, it seems that the directory created by the PencilBlue-CLI is the only directory that is getting permission issues.

[2015-09-22 19:08] blakecallens commented on #759
If that's the case then you can try explicitly setting permissions for the directory or run npm install under sudo.

[2015-09-22 19:14] radiovisual commented on #759
Thanks for your help. I was able to get things up and running with `sudo npm install`, but having to force the install of pencilblue's dependencies didn't feel right, since it wasn't one of the installation steps listed on the website. Does the cli look for the existence of the dependencies, and install them if needed, or is the step of installing npm modules missing from the install steps?

[2015-09-22 19:16] brianhyder commented on #759
The installer runs the npm install command from the user that triggered the
cli
On Sep 22, 2015 3:14 PM, "Michael Wuergler" <notifications@github.com>
wrote:

[2015-09-22 19:19] radiovisual commented on #759
Ok, thanks. Well it just seemed like permissions got mangled for this one install. After I ran `sudo npm install` inside the generated pencilblue directory things started working. Just seems weird that I am not having permission issues anywhere else except for on the generated pencilblue folder. Thought I may have stumbled onto something here.

[2015-09-22 19:37] Jean-PhilippeD commented on #758
This seems to work:

This is working fine if you consider updating the document with only "item" field(s).

If you don't provide $set, it update the whole document (only _id remains unhanged).
So with the method saveBatch, if you provide _id in the array item, you will only replace some fields.

If you want to replace the whole document, I think you should use :

It depends what you want, maybe yo

[2015-09-22 19:38] brianhyder commented on #758
Awesome. Thank you for doing the heavy lifting on this one. An option seems
like a good idea in this case.
On Sep 22, 2015 3:37 PM, "Jean-PhilippeD" <notifications@github.com> wrote:

[2015-09-22 21:45] brianhyder commented on #759
No problem.  Let us know if you run into any other blockers. We're happy to help.

[2015-09-22 21:45] #759 closed

[2015-09-22 21:46] radiovisual commented on #759
@brianhyder . Thanks very much. I appreciate it.

[2015-09-23 00:23] brianhyder commented on #758
@Jean-PhilippeD I've created branch https://github.com/pencilblue/pencilblue/tree/issue/758

It should have the fix on it.  Would you mind trying it out for us.  If it is all good I will merge it in.

[2015-09-23 00:41] brianhyder commented on #754
@btidwell Just to confirm, y'all only added en-US translations for multi-site correct?  I have added the missing translations for English back into the 0.5.0 branch.

[2015-09-23 01:11] brianhyder commented on #754
@cchatham I updated the driver on a local branch to v2.0.0.  It appeared to work as desired.  I will test a bit more tomorrow but it would most likely be safe to update the driver and test to see if that fixes the connection issue.

[2015-09-24 12:29] Jean-PhilippeD commented on #758
@brianhyder The fix works nicely !
I've both tested "replace:false" and with no options and in the first case, my document has been updated, and in the second case, it has been replaced.
Exactly what I needed and what's described :)

Thanks !

[2015-09-24 12:33] brianhyder commented on #758
Great, thank you for testing it out.

[2015-09-24 12:33] #758 closed

[2015-09-25 18:23] blakecallens opened #765 "[0.5.0] Unable to uninstall plugin on global site (perhaps only on single site mode)"
Steps to reproduce:

* Log into your global url in single site mode.
* Install any plugin
* Attempt to uninstall the plugin.

Result: plugin will not uninstall.

[2015-09-25 18:34] brianhyder commented on #765
Can you include the output from the job and any console error so we can
identify which step failed?
On Sep 25, 2015 2:23 PM, "Blake Callens" <notifications@github.com> wrote:

[2015-09-25 18:37] blakecallens commented on #765
No console errors

[code]

[2015-09-25 19:38] cchatham commented on #765
Hey guys we were having issues with this too. @wesanderson303 did you make any head way on why yours was not uninstalling?

[2015-09-25 19:48] blakecallens opened #766 "[0.5.0] External media URLs are rendering incorrectly"
The base media renderer is tacking on a forward slash to the beginning of every media URL, regardless of the location value. This means that the src of an image can wind up being ```/http://[whatever]'```, causing it to break.

[2015-09-26 15:56] #766 closed

[2015-09-26 16:01] markbaird commented on #766
Looks like I introduced this bug. Sorry about that. What is the scenario where this would occur? A media object has a URL stored in the ID field? I'd like to add a unit test for this but I don't understand the use case.

[2015-09-26 16:07] blakecallens commented on #766
No worries. This happened when you linked to an external image, like on
imgur.
On Sep 26, 2015 12:01 PM, "Mark Baird" <notifications@github.com> wrote:

[2015-09-26 16:12] markbaird commented on #766
Ah, I didn't realize it just stored the link. I thought it would download the linked image and store it locally. Guess I've never actually tried that to see what the behavior was.

[2015-09-26 18:41] bawarchiproject opened #768 "Searching and displaying custom objects"
Hi,
 I am new to nodejs and have previous done few wordpress builds. i have a custom objects called projects which has a field category. I am trying to search the projects objects using input text field category. It should display all the projects belonging to that category.

My doubt:
1. I am really stuck at displaying the custom object data in my html markup.(It will be good if i get a startup a

[2015-09-26 22:42] thcase opened #769 "PencilBlue Admin Home not showing news on Safari"
The Admin home page for pencil blue doesn't seem to pull in the PencilBlue news.  The spinner keeps going.  I am on Mac OS X 10.10.5 (Yosemite) running Safari 8.0.8 using PencilBlue v0.4.1.  I have attached an image.  This does work in Chrome on the Mac.  The Safari Console log shows the following error:

[Error] Error: undefined is not an object (evaluating 'b.innerHTML.replace')
http://localhost

[2015-09-27 17:15] mykiimike opened #770 "Attaching image cause strange editor behavior"
Hi team,

When i add an image into a Page i got a strange editor behavior. Actually the dropped image is replicated a lot of time and it breaks all the formatting.
That's very annoying ;)
Someone can help ?

Thanks
MV

[2015-09-28 01:16] brianhyder commented on #769
@blakecallens Can you take a look at this when you get a chance.  I was able to replicate.

[2015-09-28 02:51] bawarchiproject opened #771 "Displaying Custom Objects"
I am completely new to nodejs. Can you do a tutorial to display the custom objects of a certain type in list format??

[2015-09-28 13:32] blakecallens commented on #769
Known issue with Safari and XML parsing. I'm on it.

[2015-09-28 13:54] blakecallens commented on #771
[We made a video showing how to get objects.](https://www.youtube.com/watch?v=8J92ipyytPI)

[2015-09-28 13:54] #771 closed

[2015-09-28 14:02] blakecallens commented on #768
The findBy functions of the CustomObjectService [support the same query options](https://github.com/pencilblue/pencilblue/blob/master/include/service/entities/custom_object_service.js#L200) as DAO.q.

DAO.q has the ['where' option](https://github.com/pencilblue/pencilblue/blob/master/include/dao/dao.js#L218). So you can send in the option of ```{where: {[text_field]: [text_value]}}``` and get only

[2015-09-28 14:02] #768 closed

[2015-09-28 14:25] blakecallens commented on #770
Confirmed only happening with images.

[2015-09-28 14:29] blakecallens commented on #770
This bug was introduced with the fix for #749. The creation of a p element is duplicating the image.

[2015-09-28 15:27] blakecallens commented on #770
The bit of code that was auto creating paragraph tags was breaking the img tags and, as far as I can tell, there's no way for us to make exceptions for img tags. I've removed it for now.

[2015-09-28 17:35] #769 closed

[2015-09-28 17:38] brianhyder commented on #770
How does the removal of this code change editor behavior?

[2015-09-28 17:57] blakecallens commented on #770
No more auto p tags. Other than that, it'll work exactly the same.

[2015-09-28 17:57] #770 closed

[2015-09-29 12:27] blakecallens commented on #765
IMO we need to raise this bug to top priority, since it's the only one blocking release of 0.5.0

[2015-09-29 12:27] blakecallens commented on #734
Are we good to close this one?

[2015-09-29 13:12] btidwell commented on #734
Hey Blake,  Yes it looks like things are good.  We've been running the latest in production for almost the past week now and I don't see any errors around localization popping up.

[2015-09-29 13:12] #734 closed

[2015-09-29 13:15] blakecallens commented on #734
Thanks, @btidwell!

[2015-09-29 17:16] brianhyder commented on #765
@blakecallens Will look into this tonight.  Wanted to get a clarification:

Above you said log into your global site when in single site mode.  Why would you do that?  It should just be your site root correct?  Can you provide the relevant parts of your config.js?

[2015-09-29 17:21] blakecallens commented on #765
Right. That's what I meant, global.localhost

On Tue, Sep 29, 2015 at 1:16 PM, Brian <notifications@github.com> wrote:

[2015-09-30 00:19] brianhyder commented on #765
@blakecallens @cchatham I took the configuration that Blake was using.  I was unable to replicate the issue on the 0.5.0 branch.  If you guys have any more information please send it my way.

[2015-09-30 00:39] blakecallens commented on #765
I'll try to replicate with a fresh install.
On Sep 29, 2015 8:19 PM, "Brian" <notifications@github.com> wrote:

[2015-09-30 09:25] jrweb247 opened #776 "add autoincrement field ?"
I'm new in MEAN stack but I would be interesting to got an unique integer id for the objects, just for exemple to put on the url. _id like 560b83f27ab918ab3ec4528f are ugly for seo, maybe something like that : http://docs.mongodb.org/manual/tutorial/create-an-auto-incrementing-field/

[2015-09-30 17:37] wesanderson303 commented on #765
I was having this trouble (with the same uninstall logs blake posted above) with a new plugin and diving through the uninstall job (plugin_uninstall_job.js), noticed I was bombing out in the "getLocalizations" task. My plugin was missing a "\public\localization" directory, which caused "getLocalizations" to bomb out, killing the rest of the uninstall process. I'm not super familiar with the job_ru

[2015-09-30 17:50] HadenHiles commented on #710
This is something that I have also come across that would provide a better user experience for my clients. Two thumbs up on this "issue".

[2015-09-30 17:57] blakecallens commented on #765
That could definitely be the trigger on ky end too.
On Sep 30, 2015 1:37 PM, "Wes Anderson" <notifications@github.com> wrote:

[2015-09-30 19:15] blakecallens commented on #765
That was it. I added the localization folder and everything uninstalled fine. Looks like we just need to make that folder optional on the uninstall.

[2015-09-30 23:05] brianhyder commented on #765
I wanted to say thanks to everyone for digging in and confirming the issue.  I'm looking into the issue now and will put a fix into a pull request tonight.

[2015-10-01 00:15] brianhyder commented on #765
I put a fix in a branch issues/765.  I tested it and it appeared to work.  Can I get a second set of eyes to confirm the fix?

[2015-10-01 06:34] aquibmomin007 opened #779 "how to display custom objects in a specific template page?"
I have custom objects called publications. i want to display them in a list view. I am new to nodejs. Please help me with which files to edit, how to fetch custom objects and how to display them in a specific template? I googled a lot but didn't find any clear explanation anywhere. And the pencilBlue video regarding custom objects show how to create a custom object and not how to display the custo

[2015-10-01 16:32] blakecallens commented on #779
This is answered in issue #771

[2015-10-01 16:32] #779 closed

[2015-10-01 16:41] blakecallens commented on #765
Good on my end!

[2015-10-01 18:52] #765 closed

[2015-10-01 22:30] brianhyder commented on #776
I doubt we will ever convert our IDs to integers and here's why:

With the addition of multi-site coming in 0.5.0 we anticipate that some installations will be dealing with a large number of documents.  This does not typically scale well.  The GUIDs used by mongo solve the geo-scale issue where you need to replicate data across data-centers.  In the scenarios where you have multiple write database

[2015-10-01 22:30] #776 closed

[2015-10-04 18:19] thcase opened #780 "Enhancement Idea: Files Assets in addition to images and videos"
In looking at PencilBlue to potentially serve needs for types of small to medium sites that the organization I work for manages, one of the standard needs is to store files in addition to images and media.  Most of the time these files are PDF's.  They also could be links (like media) to other file storage services (OneDrive, Google Drive, Dropbox, etc.).  It would be nice if the Media feature cou

[2015-10-05 11:32] brianhyder commented on #780
The media service supports this kind of behavior.  Today there are a variety of file types (images, videos, audio, pdf) that are supported.  The supported types are derived from the mime types that are supported by our various media renderers.  Our blog post on [Media Management](https://pencilblue.org/article/media-renderers) covers the basics on how to extend the platform to provide support for

[2015-10-05 11:32] #780 closed

[2015-10-05 13:30] cchatham commented on #754
@brianhyder We updated our driver and pulled your bug fix. It has seemed to help the severity of the incline but we are still steadily increasing over the past 2 weeks. We will continue to keep an eye on it.
![oct5awsredis](https://cloud.githubusercontent.com/assets/4976408/10281621/b68872fe-6b43-11e5-8978-0ab543ccb761.png)

[2015-10-05 15:10] thcase commented on #780
Brian,
Thank you for the response. Is this a configuration issue?  I tried yesterday on my dev instance of a site I am working on and the pdf would not upload. In the media manager, after I selected the pdf (small one), the file never uploaded and The screen was left with the choose or drag file modal popup form.

Thanks,
Tom

Sent from my phone

[2015-10-05 15:42] markbaird commented on #780
That sounds like some sort of error occurred while uploading the file. I would set the log level to `silly` and try again, watching the server log for errors.

[2015-10-05 16:05] brianhyder commented on #780
I was wrong about which version PDF support was included in.  0.4.1 does NOT include PDF support.  The upcoming release for 0.5.0 does include PDF support.  This branch provides a lot of new features and would be the branch I would use for any platform evaluations.

[2015-10-05 16:06] thcase commented on #780
Thanks Mark. I will try that and see what (if anything) gets logged.

Tom

Sent from my phone

[2015-10-06 15:07] artembarmin opened #781 "Can't get post params"
Hi. I write my own pencilblue plugin. Here is some code from my plugin controller:

PeerController.prototype.test = function(cb) {
    cb({
      code: 200,
      content: "All is OK!"
    });
  };

  PeerController.getRoutes = function(cb) {
    var routes = [{
        method: 'get',
        path: "/peerlog",
        handler: 'peerLog',
        auth_required: false,
        content_type: 'text/ht

[2015-10-08 17:23] crlsgzmn commented on #642
Hi @brianhyder,

I've just installed pencilblue fromt he guide located on https://github.com/pencilblue/pencilblue. But i'm not able to run the WP_IMPORT plugin, since the button is missing. I was having an issue with the installer hanging, but i removed it and reinstalled again and it did work. But I dont have the button to select the xml file to import.

I'm going to attach a screenshot.

![imag

[2015-10-08 17:45] blakecallens commented on #642
Thats the screen that describes the plugin. Click on the settings button
from the plugins view and there should be a sub nav item for importing WP
XML.
On Oct 8, 2015 1:23 PM, "Carlos Guzmán" <notifications@github.com> wrote:

[2015-10-08 18:14] blakecallens commented on #781
[getJSONPostParams()] comes with the BaseController

[2015-10-08 18:14] #781 closed

[2015-10-08 18:17] blakecallens commented on #724
You could write a plugin that passes new values to the LocalizationService and stores them in the cache when you update the values.

[2015-10-08 18:17] #724 closed

[2015-10-08 18:22] blakecallens commented on #687
Not passport, but take a look at [this plugin](https://pencilblue.org/plugins/view/5616b3f82f320df86ff3a13f) that gives integrates Facebook and Google OAuth.

[2015-10-08 18:26] #662 closed

[2015-10-08 19:18] brianhyder commented on #781
```getJSONPostParams``` is deprecated.  Please do not use it.  Instead, please setup your route definition to specify the expected body mime type as demonstrated in the sample plugin with the ```request_body``` property: https://github.com/pencilblue/pencilblue/blob/master/plugins/sample/controllers/api/book_api.js#L75

In your controller's route handler ("render" by default) you can access the pa

[2015-10-10 05:19] thiagodebastos opened #782 "Install error on Ubuntu-based systems"
hey guys! I've been wanting to move away from WordPress to PencilBlue as a way to acquaint myself further with Node and Mongo. I've been trying for about a week now and the furthest I've been able to get is to have Pencilblue working last night but then this morning it just wouldn't start up again. I just tried installing pencilblue on a Digital Ocean droplet pre-packaged with the MEAN stack but g

[2015-10-10 11:21] brianhyder commented on #782
I think it is trying to execute bower with sudo permissions which it shouldn't have or need.  The virtual boxes and containers don't allow sudo commands.  If you followed the README it says to use sudo which should not be needed.

One of two options will most likely get you up and moving:

1.  Uninstall the pencilblue-cli and re-install it without the sudo command.  Then try running the installer

[2015-10-12 06:10] Molnfront opened #783 "Error: MongoError: sockets closed - mongodb://159.8.128.196:10189/db"
I get this error on BlueMix when I try to deploy:
Error: MongoError: server 159.8.128.196:10189 sockets closed - mongodb://159.8.128.196:10189/db

My conf.js:

module.exports = {
    "siteName": "test",
    "siteRoot": "http://test.eu-gb.mybluemix.net",
    "logging": {
    "level": "info"
    },
    "db": {
        "type": "mongo",
        "servers": [
            "mongodb://xxxxxnjjdujrjfjfgjgjk

[2015-10-12 11:47] brianhyder commented on #783
Couple of questions:
1. What version of PB are you working from?
2. Can you connect to your DB instance through a different client?

[2015-10-12 12:42] bohdanafanasyev opened #784 "Problems with installation"
Greetings,
I am pretty new to mean stack development, but would like to learn. While trying to run pencilblue using pbctrl start, I get following error:

Override file [/Users/Illusion/peter/config.js] will be applied.
2015-10-12T12:36:29.683Z - info: [M] SystemStartup: Log Level is: info
2015-10-12T12:36:29.992Z - info: [M] System[M]: 1 workers spawned. Listening for disconnects.
Override file [/

[2015-10-12 12:44] brianhyder commented on #784
As the error suggests PencilBlue cannot connect to your mongo DB instance.  Please check to make sure that mongo DB is running on your local environment at the default port (27017) and then restart your PencilBlue Instance

[2015-10-12 13:05] bohdanafanasyev commented on #784
I will appreciate a lot if you could point me to some place where I can read how to achieve that :)

[2015-10-12 13:41] brianhyder commented on #784
Download & install MongoDB from: https://www.mongodb.org/downloads#production
Installation instructions are provided at the link above.  Starting the mongo server is OS dependent but on linux systems it is: ```mongod```

[2015-10-12 13:43] bohdanafanasyev commented on #784
As a result the it was very easy to resolve that problem by simple running mongoDB before starting the server by sudo mongod, maybe its obvious for experienced user, but for beginner like me it took some time, please include in installation guide that mongoDB should be run before you start pencilblue, thank you! :)

[2015-10-12 13:43] #784 closed

[2015-10-12 16:30] brianhyder opened #785 "Allow Chain Cert for SSL to be Optional"
The current implementation does not allow for the chain cert to be optional.  Self signed certificates will not have a chain cert and therefore do not need to be configured.

[2015-10-12 18:22] #785 closed

[2015-10-12 21:59] Molnfront commented on #783
1. 0.4.1 the version you build with the CLI.
2. No. IN BlueMix you can not connect to an experimental MongoDB service remotely.

My next trial will be to delete all from BlueMix and try again. My problem right now is that I can not delete...

Maybe i test if a BluMix Docer Container is more practical.

[2015-10-12 23:01] blakecallens commented on #783
Have you followed the Bluemix tutorial in the quickstart guide?
On Oct 12, 2015 5:59 PM, "Göran Svensson" <notifications@github.com> wrote:

[2015-10-12 23:19] Molnfront commented on #783
Yes the one in the Wiki!

[2015-10-12 23:50] Molnfront commented on #783
Did a new setup. This time I used the web gui to set up the SDK for node and only cf push for the PB and it works!
I have slightly changed the setup procedure by adding a manifest instead of a proc file.

I don not like that I can not do all the build steps from command line. If one could check for the mongodb credentials in the env it could be automated like this:

var mongo = process.env.VCAP_SE

[2015-10-12 23:51] #783 closed

[2015-10-13 05:27] Molnfront commented on #783
I have done a quick hack to add VCAP_SERVICES:  https://gist.github.com/Molnfront/c9552bb50fa66fad03b2#file-config-js

[2015-10-15 22:35] #782 closed

[2015-10-19 13:47] brianhyder opened #788 "Correct BaseObjectService Documentation"

[2015-10-19 13:52] #788 closed

[2015-10-21 22:23] brianhyder commented on #501
**Design:**

We need to support localized routes in order to be more SEO friendly.  This means that:

[code]

will go to the same location and will provide English (assumes that the default locale is
set to en-US).  The design will also provide functionality such that when provided:

[code]

the site will provide the same location as the URLs denoted above but localized to Spanish.
The existence o

[2015-10-22 19:54] btidwell commented on #501
Hey Brian,

This definitely is definitely heading in the right direction with what we are looking for.  I do have a couple of items I would like to add on to what you have so far.

Can we add two localization config items on a site by site basis?  Maybe two additional fields on the create/edit site form?  With defaults for backwards compatibility of course.
* Localizations that are supported (coul

[2015-10-22 19:57] brianhyder commented on #501
Sounds like a plan to me.  I'll update the design.  Side Question:  Would
you guys have bandwidth to make the changes to the site UI?  Then I can
update the waterfall once that is in place.

On Thu, Oct 22, 2015 at 3:54 PM, Ben Tidwell <notifications@github.com>
wrote:

--
Brian P. Hyder

[2015-10-22 20:18] btidwell commented on #501
Yes we should have the bandwidth to update the UI.  Should be a fairly simple task.  Does this include updating the site object both in DB and in memory?

[2015-10-22 20:30] brianhyder commented on #501
Yes, please.
On Oct 22, 2015 4:18 PM, "Ben Tidwell" <notifications@github.com> wrote:

[2015-10-23 17:41] cchatham commented on #501
@brianhyder @blakecallens do you mind reminding us how we can leverage custom objects to keep the localized versions of content pages/articles?

[2015-10-23 17:56] blakecallens commented on #501
If you have a custom object with a wysiwyg and peer objects for language and article, then you can add logic to your controller to pull the custom object content, unless you're in the default locale.

[2015-10-24 14:24] greergan commented on #687
I tried that OAuth plugin and was unable to have it working after following instructions.....

[2015-10-25 16:46] alexcurtis opened #792 "Initialise Plugin Hanging - Plugin Initialize Task times out waiting on NPM"
Installing any plugin seems to hang on initialise plugin stage. I thought it was my plugin, but it seems to occur for the wordpress import plugin install too. I have flushed and reinstalled to no avail.

Console outputs:
[code]
GUI status hangs. Plugin Dependencies seem to install.

GUI Log:
[code]

Node: v4.2.1. Happens in both master + pencil cli install.

[2015-10-25 19:53] brianhyder commented on #792
Would you please pass along your configuration and environment details?  Additionally, we haven't done any testing with v4.2.1.

Typically, when that error occurs an error occurred on one of the instances.  When you attempted to install the WP import plugin did it create a node_modules directory and populate it with the dependencies?

[2015-10-25 20:56] alexcurtis commented on #792
@brianhyder Yes the node_modules directory was created and populated. The configuration is the vanilla config created with the pencil blue cli tool. Do you need the config.js file? Are you able to replicate this with v4.2.1 your end?

[2015-10-25 23:40] brianhyder commented on #792
I just tried to replicate by using the cli tool to create an installation.  On a mac with node 4.2.1 I was unable to reproduce.  Please set your config.js file's "logging.level" property to ```silly``` and send over that input.

[2015-10-26 08:11] Greatnesssurroundsme opened #793 "Trouble installing pencil blue on ubuntu"
I have barely any experience using github and I didn't know where else to ask.. I saw you can label an issue with "help wanted" but not sure how to add a label, just hope that you don't think this is too trivial question to ask for help.

Here's a screenshot of my error log:
http://i58.tinypic.com/212zac8.jpg

I understand already that the folder that I want to install it to shouldn't exist alread

[2015-10-26 11:53] brianhyder commented on #793
Hey @Greatnesssurroundsme, we're happy to help.  We get questions from all skill levels and putting your question on GitHub helps us to track the most frequent questions as well as make it easier for others to search for similar questions/answers.

The installer expects to create its own directory.  I would not recommend installing pencilblue under the ```var/www/html``` as it is the default direc

[2015-10-26 12:40] artembarmin commented on #781
Thanks for your answer. All works.

[2015-10-26 13:25] blakecallens commented on #793
@Greatnesssurroundsme here's a [step by step tutorial for Ubuntu](https://github.com/pencilblue/pencilblue/wiki/Quickstart:-Installation#-linux-installation).

[2015-10-26 13:25] #793 closed

[2015-10-26 14:50] Greatnesssurroundsme commented on #793
I installed it to html/pb instead, there were a few errors during installation regarding something called kerberos but everything else installed successfully it seems.

But I'm not sure how to get to the website? there's no index.html included in the install?
In the tutorial video everything is already installed and he has already got the basic website showing and has admin panel open etc.

I chan

[2015-10-27 17:18] alexcurtis commented on #792
@brianhyder I have pasted the silly log into this gist: https://gist.github.com/alexcurtis/049dd811dd1c8dbceb3f
It seems to loop over the last bit forever. Many thanks.

[2015-10-27 17:49] Greatnesssurroundsme commented on #793
@brianhyder Can you help me, please?

[2015-10-30 11:49] brianhyder commented on #792
@alexcurtis sorry for the delay.  I took at the logs, it was a big help.  Based on what I saw there is a command that gets sent back to the worker that initiated the plugin initialize job.  It states that there was no handler waiting on a reply for the action.  Reading the code this can only happen if and only if the timeout fires and clears the handler.  The default timeout is 3 seconds.  My best

[2015-10-30 13:09] alexcurtis commented on #792
@brianhyder No problem. Thank you for your effort. Yes, it looks like that timeout setting worked a treat. Everything installs first time correctly. Do you know why this would be an issue for me? -- It seems like its not affecting many people.

[2015-10-30 13:19] brianhyder commented on #792
Awesome, I'm glad that worked for you.  For those in the UK the closes NPM mirror is probably Germany.  Then again, Americans are terrible at geography.   I found this [blog](http://blog.modulus.io/npm-mirrors) post that shows where the mirrors are.  My best guess is that the connection to NPM is a bit latent.  You can verify which mirror you are working with by using the command ```npm config ls

[2015-11-01 16:59] yokotsumo opened #795 "Trouble installing PencilBlue on Centos 7 1503-01"
Hi,

I have trouble installing PencilBlue on CentOS 7 1503-01. CentOS is hosted on a Hyper-V virtual machine on Windows 10 with a 192.168.1.199 IP.
I followed the Github install instructions and everythig seemed to be fine.
After pbctrl install [], I keep the default settings, except for the server address where I put http://192.168.1.199:8080.
I type pbctrl start and get this output:

[root@pc13

[2015-11-01 22:07] brianhyder commented on #795
Everything from the output above suggests that PB started normally and is accessible.  Were you attempting to access the URL from a browser in windows or from the virtual machine?  My guess is that it is a bridging problem between the host networking and the virtual machine because the netstat output shows that it is wildcarded and hasn't bound to a specific IP.

If you attempt to access the site

[2015-11-02 08:55] yokotsumo commented on #795
The port 8080 is indeed listening but no assigned to an IP (as it is correctly done on the other WP VM). I tried to access the website from Windows, not the VM. When I try to access the website (192.168.1.199:8080) from the VM with curl, I get this (with a 'pbctrl start &' launched in the same terminal):

[root@pc11 PencilBlue]# curl http://192.168.1.199:8080
2015-11-02T08:52:17.097Z - warn: [1] R

[2015-11-02 10:43] yokotsumo commented on #795
It was really stupid in fact. The built-in firewall of centOS was blocking the traffic. Just disable it or had corresponding rules.

[2015-11-02 10:43] #795 closed

[2015-11-02 16:39] daslicht opened #796 "Creating Multilingual Sites"
Hi,
is it possible to create a multilingual webpage (multilingual slugs and content) with pencilblue?
Cheers
Marc

[2015-11-02 16:41] brianhyder commented on #796
The upcoming release will have this capability.  The current 0.5.0 branch already has multi-site and localized routing is in progress.  The branch ```feature/501``` contains a stable and working implementation.  The design and conversation can be found on issue #501

[2015-11-03 04:58] datdevdave opened #797 "What I'm loving in this CMS and what I'm wishing for."
Dedicated PencilBlue team,  thank you for creating this cms. I have been wishing for and looking for a MEAN stack cms and I was delighted to discover this project.  I’ve done my time with Joomla and WordPress and I’m ready for something better.

I don’t know if this is the right place for this but I’m sharing what I like about PencilBlue and what I hope it will become.  I represent that guy that e

[2015-11-03 16:25] khurrumqureshi opened #798 "Adding custom fields in Page and Article"
I want to add few custom fields in Page and Article for all. When user create any new page and article those fields will be there. I know there is already an issue created for this #682 but my question is if this is necessary that we have to create a theme to achieve this objective we can not do with a simple plugin which just added my custom fields in Page and Article. I would be greatful if you

[2015-11-04 14:44] blakecallens commented on #797
Thanks for the feedback, @datdevdave. I'm going to try to hit on some key points that I hope will cover where we see the platform going, and where we see community involvement. Hopefully this will answer most, if not all of your questions.

When we first released PB last year, we intended it to be more of a WordPress competitor, but the market had different ideas. We've seen the majority of our ad

[2015-11-04 14:44] #797 closed

[2015-11-05 17:58] amirsaber opened #800 "Right To Left"
Hello Sir,

Thanks for your great effort on PencilBlue and it got me really interested in your work. I am considering using PencilBlue as our CMS here in office, I just have a question about Right to Left languages.

There are more than 20 languages which are RTL (http://www.i18nguy.com/temp/rtl.html). Do you have an approach or solution to support it into your templates? how about admin dashboard

[2015-11-05 18:08] blakecallens commented on #800
Thanks, @amirsaber. We're excited to have Farsi as a language.

You can override the [admin head template](https://github.com/pencilblue/pencilblue/blob/master/plugins/pencilblue/templates/admin/head.html#L19) in a plugin and point to an modified CSS file that moves everything to right to left.

[2015-11-05 18:13] amirsaber commented on #800
Is there any need for something like WPML for PencilBlue? What is the best practice for one to have their templates adopted to language of the content or user?

[2015-11-05 19:08] blakecallens commented on #800
Globalization of URLs is coming with 0.5.0 in December, and article/page
translation in 2016, so we'll soon have it covered in the core platform.
On Nov 5, 2015 1:13 PM, "amirsaber" <notifications@github.com> wrote:

[2015-11-05 20:44] amirsaber commented on #800
Oh, great, I can't wait to see new versions of PencilBlue, count on me if I can help in developing and coding.

[2015-11-05 20:49] amirsaber opened #803 "Apply Settings"
In site settings page of admin panel, if I change the option of help to improve pencilblue and then click on apply change button, it will spin forever, but if I refresh it I can see the setting took place.

###browser

https://localhost/actions/admin/site_settings 500 (Internal Server Error)

TypeError: Cannot read property 'length' of null
    at ConfigurationSettingsPostController.BaseController

[2015-11-05 22:24] amirsaber commented on #803
I've noticed these so far, when call_home variable has been set to false, $scope.config load it as null by default and that cause a problem in function getJSONPostParams(configuration.js line 32). Then in line 42 calling settings.set returns data as empty and util.isError function sees it as an error and call the cb with that. I also noticed that in line 46 of configuration.js file in content of c

[2015-11-06 14:16] #796 closed

[2015-11-06 22:57] brianhyder opened #806 "Remove references to cli command in README"
The README file references the old "pencilblue" command instead of "pbctrl".  The old command was removed to prevent collisions with the "pencilblue.js" file being interpreted as an executable in Windows environments.

[2015-11-06 23:09] #806 closed

[2015-11-06 23:47] #803 closed

[2015-11-07 17:34] JahlomP commented on #65
Has this not been achieved?

[2015-11-09 12:45] #792 closed

[2015-11-09 18:42] amirsaber opened #812 "TemplateService Loading"
In creating a RTL version of portfolio template I noticed something that I believe it's a bug.
In home_page_setting.js file of portfolio template in line 105

[code]

This line will load a wrong template file. If two templates have the same structure of template files, it will load the one that installed first not the one which it should be
consider this scenario:
portfolio
    |----controllers

[2015-11-09 19:30] amirsaber commented on #812
my latest finding is this:
by setting self.ts.setTheme("Template uid"); before loading the html file will solve the problem. I believe this should be done and also for portolio, because having the same name is totally possible and don't want to have unpredicted file loading.

[2015-11-09 22:49] amirsaber opened #814 "Redis Error"
I turned all the caches on(by setting them to true in config file) and I setuped Redis to work with PencilBlue. Then I noticed when reordering navigation map and save I will get an error. The error indicates that invalid timeout for SETEX in Redis. And this is happening in cache entity service, I've noticed that timeout has been set to 0 by default. By increasing it to 1, I managed to get rid of t

[2015-11-09 23:53] brianhyder commented on #18
Big thanks to @amirsaber for the fix.

[2015-11-09 23:53] #18 closed

[2015-11-10 00:03] brianhyder commented on #812
The behavior you experienced is a bit confusing at first but is as designed.  The template handler allows for developers to override the look and feel of a page without having to modify the controller behavior.  To accomplish this behavior the TemplateService has a prioritized list of places to find a suitable template along the same folder structure.

The priority is as follows:

* The hinted the

[2015-11-10 01:44] #814 closed

[2015-11-10 15:12] amirsaber commented on #812
Thanks @brianhyder for your answer

[2015-11-10 15:24] #812 closed

[2015-11-10 15:41] amirsaber commented on #800
I created the first version of portfolio RTL themplate: https://github.com/amirsaber/portfolio-rtl

[2015-11-10 16:10] blakecallens opened #817 "[0.5.0] Saving article or page returns SUCCESS as message"
1. Edit an existing article or page.
2. Click Save or Save Draft.
3. The resulting success message only says 'SUCCESS'
4. Expected to say '[Article/page name] was successfully edited'

I believe this is an aftereffect of moving to the new article service.

[2015-11-10 16:18] markbaird commented on #817
Looks like I did that in #739 because the new API endpoint wasn't returning a user friendly message like the old service did. I can look at this bug if you want. Would it make sense to construct that message on the AngularJS side since the server isn't returning that string anymore?

[2015-11-10 16:26] blakecallens opened #818 "[0.5.0] Back button on admin change user password screen broken"
1. Select yourself from the manage users screen in the admin section
2. Click on Change Password
3. Click on the back button
4. User ID is Nan, so page breaks

[2015-11-10 16:30] amirsaber opened #819 "Redis Connection"
Since to connect to a real Redis server, username and password is required as well as host and port, I believe we need to use a Redis Url in config.js, same as what it's happening for mongo. and then parse the url in cache file. Any idea on that?

[2015-11-10 16:40] markbaird commented on #819
PencilBlue is using the `node_redis` library and calling the version of `createClient()` that takes port, host and extra config options: `Redis.createClient(config.port, config.host, config);`. You can see this happening in cache.js.

So you can define extra options in the `cache` section of `config.js` that will be passed to the Redis library, such as the `auth_pass` option. This is noted in a co

[2015-11-10 16:43] amirsaber commented on #819
Thanks @markbaird for info. I will have a look into it.

[2015-11-10 16:50] blakecallens commented on #817
Thanks, @markbaird. We appreciate the help. It's possible to construct it in AngularJS, but we'll need to make sure it's using the localization object (the global *loc* object in client side JS). The 'was edited' text is ```loc.admin.EDITED```, for example.

[2015-11-10 20:04] markbaird commented on #817
@blakecallens sorry about that. I had intended to go back and fix that before submitting the pull request for #739 but I simply forgot. I believe this pull request should fix the issue.

[2015-11-10 20:42] amirsaber opened #823 "Access another plugin with a plugin"
What is the best way to override plugin routes? I am trying to make a plugin which when it's active, I want to load another page for Admin/login, but since pencilblue has that path it always load pencilblue plugin template file. Since it's just for login page, it's better not to define a theme and set it as active theme to make it higher priority in TemplateService. So is there anyway to manipulat

[2015-11-10 20:50] markbaird commented on #823
Are you using PencilBlue as the active site theme? There is a special case where that theme, when active, can't be overridden. If you set the active site theme to something else you should be able to override the template file in your plugin or custom theme, unless the login page is some special case that I'm not aware of.

[2015-11-10 20:54] amirsaber commented on #823
Ah, I see, so the plugin that I am trying to make, as an exercise for myself with pencilblue, is google recaptcha, What I want to do is that when a user set that plugin to active and enabled it in it's settings, the admin/login page will be loaded with google-recaptcha. how do you think might be the best case to achieve this. I am trying to do the plug-in as generic as possible so anyone can use i

[2015-11-10 21:08] markbaird commented on #823
I don't think that's possible right now if PencilBlue is the active theme. I ran into a similar issue with my Sendy plugin. It just doesn't work if PencilBlue is the active theme. The active theme's implementation takes priority, so if PencilBlue is active it provides the implementation that will be used.

[2015-11-10 21:26] amirsaber commented on #823
[code]

On template_service.js file line 287 pencilblue plugin path will be pushed into paths arrays as the default path, to me, as the last fallback to check on. and on the life 277 activetheme will be pushed as one of the paths. I think we can check if the activeTheme is pencilblue to not to push it on top of path array. This will solve this problem for now. It might be also a good idea to come

[2015-11-10 21:28] markbaird commented on #823
I really like the idea of an admin page to handle route conflicts.

[2015-11-10 21:36] amirsaber commented on #823
changing line 277 of template_service to :
[code]
solved my issue. But we need to handle route conflicts and prioritize them. Let's see what others think about this.

[2015-11-10 22:13] #819 closed

[2015-11-10 22:17] amirsaber commented on #823
I've managed to do it, by having in mind that templates and routes are different, what I did was to use RequestHandler to unregisterRoute while starting up my plugin, something like this:
[code]
Then in my controller, inside render function, using self.ts.setTheme('google-recaptcha'); I managed to load the file that I need.

[2015-11-10 22:37] amirsaber commented on #823
I just have another question, do we have any function in plugin to get triggered when plugin setting changes? I know we have onStartup and onInstall and those, but do we have onConfigure or onSettingChange or something like that?

[2015-11-11 15:53] amirsaber opened #825 "Google reCaptcha Plugin"
Here I created a google reCaptcha plugin for Pencilblue, any contribution will be appreciated.
https://github.com/amirsaber/google-recaptcha
The only thing that I couldn't manage to do is to register a call back into plugin change setting to detect change of settings into plugin and register or unregister required routes for the plugin. So for now if you turn off or on the required login for admin

[2015-11-11 16:54] JahlomP opened #826 "[enhancement] Add the functionality to create APIs right from the admin section"
Since PencilBlue is data driven platform, I was wondering if we could add the functionality for users to create APIs right from the admin section. WRITE, GET, UPDATE and DELETE options will be possible on these APIs. APIs could be secured and APIs, created could operate on existing data/objects or new once could be created automatically for it.

[2015-11-11 17:24] JahlomP commented on #826
This can help users expose their data to the public or reduce the amount of work they will do when implementing features. They only have to write client side code and leverage the APIs.

[2015-11-11 18:38] amirsaber opened #828 "Installing a plug in with dependencies"
When I install a plugin with dependencies, the front end never finish installing, while the installation is finished, I noticed a message keeps getting send to server and on server I got this error
[code]

[2015-11-11 18:43] brianhyder commented on #828
Are you working against the master branch or against 0.5.0?  This is npm
taking longer to complete than the allowed time. Look at adjusting the
command timeout by overriding it in your config.js file.
On Nov 11, 2015 1:38 PM, "AmirSaber Sharifi" <notifications@github.com>
wrote:

[2015-11-11 18:46] brianhyder commented on #828
This is a duplicate of #792

[2015-11-11 18:48] amirsaber commented on #828
oh sorry, you are totally right, I am working on 0.4.0. Thanks

[2015-11-11 21:16] amirsaber commented on #826
Good idea, having that combined with custom objects, one can create most sophisticated web apps such as CRMs and ERPs with that.

[2015-11-11 21:44] blakecallens commented on #826
This should be a plugin, IMO. There are too many security concerns with the auto-generation of APIs that expose custom data to make it good for the core of the platform.

[2015-11-11 23:53] adrianeguez opened #830 "Enhancement - Excel copy & paste"
Hello, I have copy & pasted some contend from excel 2013 to an article, pencilblue override the aligment, bold and table style.

### Excel format
![image](https://cloud.githubusercontent.com/assets/5687655/11106127/a5ed6d34-88a1-11e5-9291-5c81cde60d4c.png)
### Pencilblue Format

![image](https://cloud.githubusercontent.com/assets/5687655/11106150/cca422ce-88a1-11e5-94d9-25f2b65b0eeb.png)

### Code

[2015-11-11 23:55] adrianeguez opened #831 "Enhancement - Limit functionality article editor (text)"
### Text
It will be awesome that you can customize colors,
![image](https://cloud.githubusercontent.com/assets/5687655/11106633/96082716-88a5-11e5-89dc-db9228d3557d.png)

[2015-11-12 00:06] adrianeguez opened #832 "Responsive Problems"
### Issue
I am ussing as default the portfolio plugin, but when my articles are open, this happens:
![image](https://cloud.githubusercontent.com/assets/5687655/11106811/2f1ec680-88a6-11e5-995a-d14c255febfb.png)
### <head> code:

`<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">`

### All Head html tags:

`<meta name="description" content="Inv

[2015-11-12 00:25] blakecallens commented on #832
Based on your the other issue you opened, I'm guessing this is due to the content you're pasting into your articles.

[2015-11-12 00:27] blakecallens commented on #830
contenteditable divs, which most wysiwygs are built on, don't support this type of copy/pasting. Html tables are different from Excel tables.

[2015-11-12 00:28] #830 closed

[2015-11-12 00:29] blakecallens commented on #831
We'll look into adding this. In yhe meantime, you can change the colors in the HTML editor view.

[2015-11-12 01:41] brianhyder opened #833 "Hero image field in portfolio page form does not persist"

[2015-11-12 02:35] #833 closed

[2015-11-12 02:38] brianhyder commented on #823
Currently, we do not have that capability.  Are you looking to perform a single operation or an operation on all servers?

[2015-11-12 02:41] #817 closed

[2015-11-12 02:43] #818 closed

[2015-11-12 02:43] #826 closed

[2015-11-12 02:44] #828 closed

[2015-11-12 19:40] amirsaber opened #836 "[0.5.0] Theme Setting returns 404 on sub-sites"
In 0.5.0, when I go on theme and click on settings of a theme(sample for example) it return 404 page. Is it a known bug?

[2015-11-12 20:27] amirsaber commented on #836
It only happens on theme settings on a created site, not on the global. For the same plugin, Theme settings and Plugin settings works fine on global, but Theme settings return 404 on a created site.

[2015-11-12 20:38] blakecallens commented on #836
@kylebechtel77 would your team be able to take a look at this?

[2015-11-12 20:38] andparker opened #837 "[0.5.0] Scalability concerns around plugin initialization in multi-tenancy mode"
Hey guys. We are noticing that for roughly 30 sites it is taking 1sec 21ms, and increasing per site, for plugin initialization (not including dependency downloads). We are concerned this might translate into minutes once we scale up to 3000+ sites.

We have already been looking into it—but not as much as we would like—and could really use your help and advice on how we could optimize this task. Mi

[2015-11-12 20:40] blakecallens commented on #837
Is increasing the number of nodes in the cluster adding to things?

[2015-11-12 20:52] andparker commented on #837
I'm not 100% sure about that.

@btidwell What do you think?

[2015-11-12 20:53] blakecallens commented on #825
You could remove the routes from the google-recaptcha.js file and have your plugin override the login routes no matter what. Then you can have your controllers inherit from the original controllers and go to their functions, if reCaptcha is turned off, with a ```super_.prototype``` call. [Here's an example of that in action.](https://github.com/pencilblue/pencilblue/blob/master/plugins/pencilblue/

[2015-11-12 20:58] blakecallens commented on #837
While you guys are looking into this, would you mind also looking at #836?

[2015-11-12 21:09] cchatham commented on #836
@blakecallens @brianhyder we are looking into this. @btidwell is looking

[2015-11-12 21:10] cchatham commented on #837
@blakecallens we are looking into that issue

[2015-11-12 21:38] blakecallens commented on #836
Much appreciated.

[2015-11-12 21:38] btidwell commented on #837
Yes.  It definitely slows down a noticeable amount when adding workers to the cluster.

[2015-11-12 21:40] blakecallens commented on #837
Ok, good to know. I'm trying to triage as much as I can for @brianhyder, before he jumps in.

[2015-11-12 21:41] amirsaber commented on #836
I just noticed that in simple_layered_service.js line 61 return null in case that instance.services[i] is ThemeSettingService and returns correct settings when instance.services[i] is PluginSettingService.

[2015-11-12 21:50] btidwell commented on #836
I have found the issue.  In pluginService.js line 616 is using standard pb.DAO() without any site context.  This occurs on plugin install when we call "resetThemeSettings()". So it's saving the settings to the global scope.  As a result the controller for the theme settings page responds with a 404 because theme settings are null.